.c-modal-settings {
	
	.modal-content {
		width: 408px;
		height: 194px;
		border-radius: 4px;
		box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		padding: 32px 14px 36px 14px;
		display: flex;
		justify-content: center;
		.modal-body {
			display: flex;
			justify-content: center;
			padding: 0;
			span {
				font-family: Ubuntu;
				font-size: 18px;
				font-weight: 500;
				line-height: 1.44;
				letter-spacing: normal;
				text-align: center;
				color: #000000;
				text-align: center;
			}
		}
		.modal-footer {
			justify-content: center;
			border: none;
			padding: 0;
			button {
				margin: 0;
				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}
}
// .c-modal-settings .show {
// 	opacity: 1;
// 	visibility: visible;
// 	display: flex !important;
// 	justify-content: center;
// 	align-items: center;
// }
.c-modal-settings .modal {
	opacity: 0;
	visibility: hidden;
	display: none;
	transform: none !important;
	transition: none !important;
}
.c-modal-settings .show{
	display: flex !important;
	height: 100%;
	opacity: 1;
	visibility: visible;
	align-items: center;
	justify-content: center;
}