mixin c-modal-settings(data)
	.c-modal-settings
		#modal-pass.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-body
						span На ваш e-mail будет отправлена инструкция по смену пароля
					.modal-footer
						button.btn-yes(type='submit') Отправить
						button.btn-no(type='button', data-dismiss='modal') Отмена
		#modal-mail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-body
						span На ваш текущий e-mail будет отправлена инструкция по изменению на новый e-mail.
					.modal-footer
						button.btn-yes(type='submit') Отправить
						button.btn-no(type='button', data-dismiss='modal') Отмена
