.c-ad-block-list {
	.c-table__filter-subject {
		width: 215px;
	}
	.c-table__filter-sort  {
	button span {
		text-align: center;
		line-height: 15px;
		font-size: 13px;
	}
	button {
		position: relative;
		.arrows {
			transform: translateY(-50%);
			position: absolute;
			right: -19px;
			padding: 0;
			top: 50%;
		}
	}
	}
	.c-table__filter-subject .subject {
		padding-top: 3px;
		font-size: 13px;
	}
	.c-table__filter-sort--views {
    margin-left: 92px;
    width: 93px;
}
.c-table__filter-sort--visits {
  margin-left: 37px;
	width: 70px;
}
.c-table__filter-sort--profit {
	margin-left: 62px;
	width: 83px;
}
.c-table__filter-sort--status {
	margin-left: 78px;
}
.c-table__filter-inner {
	padding-top: 29px;
}
.c-table__item {
	align-items: center;
}
.c-table__item-place {
	width: 108px;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	span {
		letter-spacing: normal;
		font-family: Ubuntu;
		font-weight: normal;
		line-height: normal;
		color: #000000;
		font-size: 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
.c-table__item-name {
	width: 215px;
}
.c-table__item-views {
	margin-left: 59px;
	width: 118px;
}
.c-table__item-visits {
	margin-left: 13px;
	width: 130px;
	z-index: 5;
}
.c-table__item-profit {
	margin-right: 13px;
}
.c-table__item-status {
	width: 146px;
}
.c-table__item {
	padding-right: 14px;
}
.c-table__item-actions ul li a svg {
	cursor: pointer;
}
.no-bottom-select {
	justify-content: flex-end;
	display: flex;
	width: 100%;
	.c-table__activity-select {
		display: none;
	}
 }
}