mixin c-ad-block-list(data)
	.c-table
		.c-ad-block-list
			.container
				.c-table__filter
					.c-table__filter-inner
						.c-table__filter-subject
							input#subject.radio-custom(name='radio-group', type='checkbox')
							label.radio-custom-label(for='subject')
							.subject Название
						.c-table__filter-sort.c-table__filter-sort--place
							button
								span Площадка
								.arrows
									.arrow-top
										+svg('icon-triangle')
									.arrow-bottom
										+svg('icon-triangle')
						.c-table__filter-sort.c-table__filter-sort--views.sort-down
							button
								span Просмотров за 24 часа
								.arrows
									.arrow-top
										+svg('icon-triangle')
									.arrow-bottom
										+svg('icon-triangle')
						.c-table__filter-sort.c-table__filter-sort--visits
							button
								span Визитов за 24 часа
								.arrows
									.arrow-top
										+svg('icon-triangle')
									.arrow-bottom
										+svg('icon-triangle')
						.c-table__filter-sort.c-table__filter-sort--profit
							button
								span Заработок за 7 дней
								.arrows
									.arrow-top
										+svg('icon-triangle')
									.arrow-bottom
										+svg('icon-triangle')
						.c-table__filter-sort.c-table__filter-sort--status
							button
								span Статус
								.arrows
									.arrow-top
										+svg('icon-triangle')
									.arrow-bottom
										+svg('icon-triangle')
				.c-table__body
					.c-table__items
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-1.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-1')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-2.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-2')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-3.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name-b-3')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-4.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name-b-4')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-5.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name-b-5')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-6.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-6')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												button(type='button', data-toggle='modal', data-target='#modal-clipboard')
													+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-7.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-7')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-8.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-8')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-9.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name-b-9')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-10.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-10')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-11.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name-b-11')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-12.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-12')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-13.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-13')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-14.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-14')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						.c-table__item-wrap
							.c-table__item
								.c-table__item-name
									input#name-b-15.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name-b-15')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-views
									span 24851
								.c-table__item-visits
									span 6532
								.c-table__item-profit
									span 542891.59
								.c-table__item-status
									label.switch
										input(type='checkbox', checked='' name="sw-1")
										span.slider.round(data-active="Активен" data-notactive="Не активен")
								.c-table__item-actions
									ul
										li
											a(href="#")
												+svg('icon-b-codding')
										li
											a(href="#")
												+svg('icon-b-copy')
										li
											a(href="#")
												+svg('icon-archive')
										li
											a(href="#")
												+svg('icon-pen')
						
					if data.bottom_btns
						.c-table__activity.c-filters(class='' + data.custom_class ? data.custom_class : null )
							if data.bottom_select
								.c-table__activity-select
									+select-block({
										name: 'activity',
										selectedValue: '',
										placeholder: 'Выберите действие',
										custom_class: 'is-hover',
										list: [
											{
												txt: 'Удалить'
											},
											{
												txt: 'Добавить'
											},
											{
												txt: 'Деактивировать'
											}
										]
									})
							.c-table__activity-btns
								.c-title__buttons
									a(href="#").add_platforms
										+svg("icon-add")
										span Добавить рекламный блок
									a(href="#").link_archive
										+svg("icon-archive")
										span Перейти в архив