.c-archive {
	padding-bottom: 100px;
		&__filters-row {
			display: flex;
			&--reverse {
				flex-direction: row-reverse;
			}
		}
	.c-filters__clear-btn-row {
		justify-content: flex-end;
		display: flex;
		width: 100%;
	}
	&__filters-row {
		.has-children {
			
		}
		.c-filters__search {
			margin-left: 5px;
			width: 859px;
			input {
				width: 100%;
			}
		}
	}
	&__table-item {
		justify-content: space-between;
		display: flex;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		.c-table__item-actions {
			margin-left: auto;
			flex-grow: 0;
		}
	}
	&__table-items {
		padding-top: 11px;
	}
	&__table-filter {
		padding-top: 21px;
	}
	&__table-filter-item {
		padding: 11px 20px;
		span {
			letter-spacing: normal;
			font-family: Ubuntu;
			line-height: normal;
			font-weight: bold;
			color: #879093;
			font-size: 15px;
		}
	}
	&__btn {
		align-items: center;
		margin-top: 10px;
		display: flex;
		.archive-btn {
			background-color: #879093;
			transition: all 0.3s ease;
			display: inline-block;
			position: relative;
			border-radius: 4px;
			margin-left: 7px;
			cursor: pointer;
			height: 50px;
			width: 56px;
			&:hover {
				background-color: $blue;
			}
			&:after {
				transform: translateX(-46%) translateY(-64%) rotate(45deg);
				transition: all 0.3s ease;
				border-width: 0 3px 3px 0;
				border: solid #ffffff;
				vertical-align: middle;
				text-align: center;
				position: absolute;
				border-radius: 3px;
				display: flex;
				height: 19px;
				content: '';
				width: 11px;
				left: 50%;
				top: 50%;
			}
		}
	}
}
.archive-blocks {
	.c-archive{
		&__table-filter {
			display: flex;
			&-item {
				padding-left: 15px;
				width: 214px;
				.subject {
					text-transform: inherit;
					font-weight: bold;
					line-height: 21px;
					color: #879093;
					font-size: 13px;
				}
				&--place {
					span {
						text-transform: inherit;
						font-weight: bold;
						line-height: 21px;
						color: #879093;
						font-size: 13px;
					}
				}
				
			}
			.c-table__filter-sort button .arrows {
					padding-left: 12px;
					padding-top: 6px;
				
			}
			.sort-down, .sort-up {
				button {
					span {
						color:  #002750;
						&:after {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			.sort-down {
				button {
					.arrows {
						.arrow-bottom {
							svg {
								color: $blue;
							}
						}
					}
				}
			}
			.sort-up {
				button {
					.arrows {
						.arrow-top {
							svg {
								color: $blue;
							}
						}
					}
				}
			}
		}
		&__table-item {
			padding: 10px 20px 19px 16px;
			align-items: center;
			.radio-custom-label {
				padding-top: 4px;
			}
			.c-table__item-name{
				width: 212px;
			}
			.c-table__item-place {
				span {
					letter-spacing: normal;
					font-family: Ubuntu;
					font-weight: normal;
					line-height: normal;
					color: #000000;
					font-size: 15px;
				}
			}
		}
	}
	.c-table__item-name .checkbox-custom + .checkbox-custom-label::after, .c-table__item-name .radio-custom + .radio-custom-label::after {
    top: 8px;
}
}