mixin c-archive(data)
	.c-archive(class='' + data.custom_class ? data.custom_class : null )
		.container
			.c-archive__filters.c-filters
				form.js-form-check
					.c-archive__filters-row.c-archive__filters-row--reverse
						.c-filters__search
							input(type="text", placeholder='Поиск по домену')
							button(type="submit")
								+svg('icon-search')
						+select-block({
								name: 'language',
								selectedValue: '',
								placeholder: 'Все тематики',
								custom_class: 'is-hover',
								list: [
									{
										txt: 'Наименование категории #1',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #2',
										list: [
											{
												txt: 'Наименование категории #1'
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3',
													list: [
												{
													txt: 'Наименование категории #1'
												},
												{
													txt: 'Наименование категории #2'
												},
												{
													txt: 'Наименование категории #3',
														list: [
															{
																txt: 'Наименование категории #1'
															},
															{
																txt: 'Наименование категории #2',
																active: true,
																list: [
																	{
																		txt: 'Наименование категории #1'
																	},
																	{
																		txt: 'Наименование категории #2'
																	},
																	{
																		txt: 'Наименование категории #3'
																	},
																]
															},
															{
																txt: 'Наименование категории #3'
															},
														]
												},
												{
													txt: 'Наименование категории #4'
												},
												{
													txt: 'Наименование категории #5'
												},
												{
													txt: 'Наименование категории #6'
												},
											]
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #3',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #4',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #5',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #6',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #7',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									},
									{
										txt: 'Наименование категории #8',
										list: [
											{
												txt: 'Наименование категории #1',
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3'
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
									}
								]
							})
					.c-archive__filters-row
						.c-filters__clear-btn-row
							button#clearfilter-arcive(type='reset')
								+svg('icon-rubber')
								span Очистить фильтр
			if data.c_archive
				.c-archive__table
					.c-archive__table-inner
						.c-archive__table-filter
							.c-archive__table-filter-item
								span URL / Тематика
						.c-archive__table-items
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name7.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name7')
									.item-name__label
										b yandex.ru
										span Информационный агрегатор
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name8.radio-custom(name='radio-group', type='checkbox', checked)
									label.radio-custom-label(for='name8')
									.item-name__label
										b vc.ru
										span Информационный агрегатор
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name9.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name9')
									.item-name__label
										b techcrunch.com
										span Информационный агрегатор
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name10.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name10')
									.item-name__label
										b google.com
										span Информационный агрегатор
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
				.c-archive__btn
					.c-filters
						+select-block({
							name: 'do',
							selectedValue: '',
							placeholder: 'Восстановить',
							custom_class: 'is-hover no-arrow',
							selectedValue: 'Восстановить',
							list: [
								{
									txt: 'Восстановить'
								},
								{
									txt: 'Удалить'
								},
								{
									txt: 'Добавить'
								}
							]
						})
					button.archive-btn(type="button")
			if data.c_archive_blocks
				.c-archive__table
					.c-archive__table-inner
						.c-archive__table-filter
							.c-archive__table-filter-item
								.c-table__filter-subject
									input#subject.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='subject')
									.subject Название
							.c-archive__table-filter-item.c-archive__table-filter-item--place.c-table__filter-sort
								button
									span Площадка
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
						.c-archive__table-items
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name7.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name7')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name7.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name7')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							.c-archive__table-item.c-table__item
								.c-table__item-name
									input#name7.radio-custom(name='radio-group', type='checkbox')
									label.radio-custom-label(for='name7')
									.item-name__label
										b Новый блок #1
										span Размер: 150х150
								.c-table__item-place
									span techcrunch.com
								.c-table__item-actions
									button(type='button', data-toggle='modal', data-target='#modal').restore Восстановить
							