mixin c-add-place(data)
	if data.new_place
		.c-add-place
			.container
				.c-add-place__inner
					.c-add-place__img
						+svg("icon-new-place")
					.c-add-place__title
						h2 Добавьте свою первую площадку
					.c-add-place__desc
						span Чтобы начать работу с
							a(href="#")  ads
								b well
							|, вам необходимо добавить свою рекламную площадку.
					.c-add-place__btn
						a(href="#").add_platforms
							+svg("icon-add")
							span Добавить площадку
	if data.warn
		.c-add-place(class='' + data.custom_class ? data.custom_class : null )
			.container
				.c-add-place__inner
					.c-add-place__img
						+svg("icon-warn")
					.c-add-place__title
						h2 Ничего не найдено
					.c-add-place__desc
						span По вашим параметрам не найдено площадок. Попробуйте изменить параметры фильтрации или очистить их.
					.c-add-place__btn
						a(href="#").add_platforms
							+svg("icon-add")
							span Добавить площадку
						a(href="#").clear_filter
							+svg("icon-rubber")
							span Очистить фильтр