.c-add-place {
	padding-bottom: 100px;
	padding-top: 124px;
	&__inner {
		flex-direction: column;
		align-items: center;
		display: flex;
	}
	&__img {
		svg {
			color: #002750;
			font-size: 119px;
			opacity: 0.15;
		}
	}
	&__title {
		padding-top: 31px;
		h2 {
			letter-spacing: 0.5px;
			font-family: Ubuntu;
			font-size: 26px;
			color: $black;
			margin: 0;
		}
	}
	&__desc {
		text-align: center;
		padding-top: 16px;
		max-width: 463px;
		span {
			letter-spacing: normal;
			font-family: Ubuntu;
			font-weight: normal;
			text-align: center;
			color: #000000;
			line-height: 1.5;
			font-size: 18px;
			a {
				text-transform: uppercase;
				font-weight: bold;
				color: #2c383a;
				b {
					color: #1595fc;
				}
			}
		}
	}
	&__btn {
		padding-top: 30px;
	}
}
.nothing {
	padding-top: 54px;
	.c-add-place__btn {
		align-items: center;
		display: flex;
	}
	.c-add-place__img svg {
		opacity: 1;
	}
	.c-add-place__title {
    padding-top: 22px;
}
.c-add-place__desc {
	max-width: 513px;
 }
}