mixin c-news(data)
	.c-news
		.container
			.c-news__inner
				.row
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
					.c-news__item
						.c-news__item-img
							a(href="#").c-news__item-img-wrap.h-object-fit
								img(src="https://avatars.mds.yandex.net/get-kinopoisk-post-thumb/1644748/cc3daa441aeac9d8899e12ca7defd56d/300x200", alt="")
						.c-news__item-desc
							.c-news__item-date
								span 24 мая 2019
							.c-news__item-title
								a(href="#") Новое обновление платформы от 24 мая
							.c-news__item-text
								p Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
							.c-news__item-link
								a(href="#") Подробнее
