.c-news {
	.row {
		margin: 0 !important;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-right: -24px !important;
		margin-bottom: -30px !important;
	}
	&__item {
		width: 264px;
		min-height: 494px;
		margin-right: 24px;
		margin-bottom: 30px;
		background-color: #fff;
		border: solid 1px rgba(44, 56, 58, 0.07);
		&-img {
			width: 264px;
			height: 198px;
			border-radius: 3px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			overflow: hidden;
			&-wrap {
				height: 100%;
				a {
					display: block;
				}
			}
		}
		&-desc {
			padding: 11px 16px 20px 16px;
		}
		&-date {
			span {
				opacity: 0.5;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #232930;
			}
		}
		&-title {
			padding-top: 10px;
			a {
				font-family: Roboto;
				font-size: 19px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.26;
				letter-spacing: normal;
				color: #232930;
				transition: all 0.3s ease;
				&:hover {
					text-decoration: underline;
			}
			}
			
		}
		&-text {
			padding-top: 9px;
			p {
				font-family: Roboto;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.6;
				letter-spacing: normal;
				color: #232930;
			}
		}
		&-link {
			a {
				font-family: Roboto;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $blue;
				transition: all 0.3s ease;
				&:hover {
					color: lighten($color: $blue, $amount: 10);
					text-decoration: underline;
				}
			}
		}
	}
}