.c-graph {
	padding-top: 41px;
	padding-bottom: 54px;
	&__left {
		margin-right: 24px;
	}
	&__right {
		.c-graph__stats-block-title {
			h4 {
				display: inline-block;
				color: #000000;
				font-size: 21px;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.24;
				letter-spacing: normal;
			}
			span {
				font-weight: normal;
				color: #879093;
				padding-left: 4px;
				display: inline-block;
				font-size: 21px;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.24;
				letter-spacing: normal;
			}
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__stats-block {
		padding: 32px 32px 24px 31px;
		width: 552px;
		height: 396px;
		&--blue {
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: #003d7c;
		}
		&--white {
			border: solid 2px rgba(0, 39, 80, 0.15);
			.c-graph__stats-block-item-type {
				.type {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #2c383a;
					text-align: left;
				}
			}
			.c-graph__stats-block-item-price {
				.count {
					font-size: 24px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #000000;
					text-align: left;
				}
			}
			.c-graph__stats-block-item-procent--green {
				.procent {
					font-size: 15px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #7ed321;
					text-align: left;
				}
			}
			.c-graph__stats-block-item-procent--red {
				.procent {
					font-size: 15px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #ff5050;
					text-align: left;
				}
			}
			.c-graph__stats-block-items-row {
				padding-top: 14px;
		}
		.c-graph__stats-block-items-row:not(:last-child) {
			padding-bottom: 11px;
	}
		}
		&-title {
			h4 {
				font-size: 21px;
				font-weight: bold;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
			}
		}
		&-item {
			width: 163px;
			&-price {
				.count {
					font-size: 24px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: #ffffff;
					padding-left: 4px;
				}
				.rub {
					font-size: 15px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.5px;
					color: #ffffff;
					opacity: 0.3;
				}
			}
			&-day {
				padding-left: 2px;
				padding-top: 1px;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				.day {
					opacity: 0.5;
					font-size: 15px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.2px;
					color: #ffffff;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&-lines {
				width: 160px;
				height: 28px;
				margin-top: 20px;
			}
		}
		&-items-row {
			padding-top: 22px;
			display: flex;
			&:not(:last-child){
				padding-bottom: 8px;
			}
			.c-graph__stats-block-item {
				&:not(:last-child) {
					margin-right: 58px;
				}
			}
		}
		&-link {
			padding-top: 33px;
			padding-left: 2px;
			a {
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.2px;
				color: #7cc5ff;
				transition: all 0.3s ease;
				text-decoration: none;
				&:hover {
					color: $blue;
					text-decoration: none;
				}
			}
		}
		&-rating {
			padding-top: 32px;
			&-name {
				display: flex;
				.top {
					font-size: 21px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.2px;
					color: #000000;
				}
				.day {
					font-size: 21px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.2px;
					color: #879093;
					padding-left: 6px;
				}
			}
			&-top-line {
				display: flex;
				padding-left: 20px;
				padding-top: 16px;
				span {
					font-size: 13px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.08;
					letter-spacing: normal;
					color: #879093;
					padding-right: 5px;
				}
				&-name {
					width: 239px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-visits {
					width: 106px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-ctr {
					width: 86px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-profit {
					width: auto;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&-items {
				padding-top: 10px;
			}
			&-item {
				display: flex;
				background-color: #fff;
				padding: 18px 20px;
				height: 54px;
				border-radius: 4px;
				border: solid 1px rgba(44, 56, 58, 0.07);
				background-color: #ffffff;
				&:not(:last-child){
					margin-bottom: 2px;
				}
				span {
					font-size: 15px;
					font-weight: 400;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #000000;
				}
				&-name {
					width: 239px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-visits {
					width: 106px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-ctr {
					width: 86px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				&-profit {
					width: auto;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&-link {
				padding-top: 16px;
				a {
					font-size: 15px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: 0.2px;
					color: #1595fc;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
						color: #1595fc;
					}
				}
			}
		}
	}
}