mixin c-graph(data)
	.c-graph
		.container
			.c-graph__inner
				.c-graph__left
					.c-graph__stats-block.c-graph__stats-block--blue
						.c-graph__stats-block-title
							h4 Статистика по доходам
						.c-graph__stats-block-wrapper
							.c-graph__stats-block-items-row
								.c-graph__stats-block-item
									.c-graph__stats-block-item-price
										span.count 1284.39
										span.rub  руб
									.c-graph__stats-block-item-day
										span.day за сегодня
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
								.c-graph__stats-block-item
									.c-graph__stats-block-item-price
										span.count 8578.94
										span.rub  руб
									.c-graph__stats-block-item-day
										span.day за последнюю неделю
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
							.c-graph__stats-block-items-row
								.c-graph__stats-block-item
									.c-graph__stats-block-item-price
										span.count 1159.02
										span.rub  руб
									.c-graph__stats-block-item-day
										span.day за вчера
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
								.c-graph__stats-block-item
									.c-graph__stats-block-item-price
										span.count 32452.14
										span.rub  руб
									.c-graph__stats-block-item-day
										span.day за последние 28 дней
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
							.c-graph__stats-block-link
								a(href="#") Перейти к финансам
					.c-graph__stats-block-rating
						.c-graph__stats-block-rating-name
							span.top ТОП5 блоков  
							span.day  за 7 дней
						.c-graph__stats-block-rating-body
							.c-graph__stats-block-rating-top-line
								.c-graph__stats-block-rating-top-line-name
									span Название блока
								.c-graph__stats-block-rating-top-line-visits
									span Визитов
								.c-graph__stats-block-rating-top-line-ctr
									span CTR
								.c-graph__stats-block-rating-top-line-profit
									span Доход
							.c-graph__stats-block-rating-items
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span Название блока
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span Название блока
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span Название блока
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span Название блока
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span Название блока
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
							.c-graph__stats-block-rating-link
								a(href="#") Перейти ко всем блокам
				.c-graph__right
					.c-graph__stats-block.c-graph__stats-block--white
						.c-graph__stats-block-title
							h4 Изменение показателей 
							span за последнюю неделю
						.c-graph__stats-block-wrapper
							.c-graph__stats-block-items-row
								.c-graph__stats-block-item
									.c-graph__stats-block-item-type
										span.type просмотры
									.c-graph__stats-block-item-price
										span.count 12854
									.c-graph__stats-block-item-procent.c-graph__stats-block-item-procent--green
										span.procent +3541 (+34%)
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
								.c-graph__stats-block-item
									.c-graph__stats-block-item-type
										span.type визиты
									.c-graph__stats-block-item-price
										span.count 4201
									.c-graph__stats-block-item-procent.c-graph__stats-block-item-procent--red
										span.procent -112 (-3.2%)
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
							.c-graph__stats-block-items-row
								.c-graph__stats-block-item
									.c-graph__stats-block-item-type
										span.type CTR
									.c-graph__stats-block-item-price
										span.count 7.24%
									.c-graph__stats-block-item-procent.c-graph__stats-block-item-procent--green
										span.procent +0.02%
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
								.c-graph__stats-block-item
									.c-graph__stats-block-item-type
										span.type CPM
									.c-graph__stats-block-item-price
										span.count 6.49%
									.c-graph__stats-block-item-procent.c-graph__stats-block-item-procent--green
										span.procent +0.17%
									.c-graph__stats-block-item-lines
										img(src="https://placeimg.com/160/28/any", alt="")
					.c-graph__stats-block-rating
						.c-graph__stats-block-rating-name
							span.top ТОП5 площадок 
							span.day  за 7 дней
						.c-graph__stats-block-rating-body
							.c-graph__stats-block-rating-top-line
								.c-graph__stats-block-rating-top-line-name
									span Название блока
								.c-graph__stats-block-rating-top-line-visits
									span Визитов
								.c-graph__stats-block-rating-top-line-ctr
									span CTR
								.c-graph__stats-block-rating-top-line-profit
									span Доход
							.c-graph__stats-block-rating-items
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span techcrunch.com
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span vc.ru
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span yandex.ru
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span forbes.com
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
								.c-graph__stats-block-rating-item
									.c-graph__stats-block-rating-item-name
										span zillow.com
									.c-graph__stats-block-rating-item-visits
										span 6532
									.c-graph__stats-block-rating-item-ctr
										span 13.11
									.c-graph__stats-block-rating-item-profit
										span 52389.59
					.c-graph__stats-block-rating-link
						a(href="#") Перейти ко всем площадкам