mixin c-new-place(data)
	.c-new-place
		if data.title_add_place
			+c-title({
				title: 'Добавление новой площадки',
				platforms_btns: false,
				custom_class: 'title_new-add',
			})
		if data.title_edit_place
			+c-title({
				title: 'Редактирование площадки',
				platforms_btns: false,
				custom_class: 'title_new-add',
			})
		.container
			if data.rejected_place
				.rejected__place
					span Площадка отклонена!
					p Вы неверно указали язык площадки. Ссылка на отчет аналитики из Яндекс.Метрики битая, следовательно мне не удалось получить информацию о вашей площадке. Исправьте замечания и повторно отправьте площадку на модерацию.
			if data.place_add
				.c-new-place__inner
					form.js-form-check
						.c-new-place__top-block
							.c-new-place__row
								.c-new-place__url
									.form-group-wrap
										.form-group__label
											span Адрес сайта
										+form-group({
											required: true,
											type: 'url',
											placeholder: 'например, google.com',
											name: 'url'
										})
								.c-new-place__name
									.form-group__label
											span Название площадки
									.form-group-wrap
										+form-group({
											required: true,
											type: 'text',
											minlength: "3",
											placeholder: 'от 3 до 200 символов',
											name: 'name',
										})
							.c-new-place__row
								.c-new-place__tematic
									.c-filters
										.form-group__label
											span Тематика
										+select-block({
											name: 'tematics',
											selectedValue: '',
											placeholder: 'Все тематики',
											custom_class: 'is-hover is-wide',
											list: [
												{
													txt: 'Наименование категории #1',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #2',
													list: [
														{
															txt: 'Наименование категории #1'
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3',
																list: [
															{
																txt: 'Наименование категории #1'
															},
															{
																txt: 'Наименование категории #2'
															},
															{
																txt: 'Наименование категории #3',
																	list: [
																		{
																			txt: 'Наименование категории #1'
																		},
																		{
																			txt: 'Наименование категории #2',
																			active: true,
																			list: [
																				{
																					txt: 'Наименование категории #1'
																				},
																				{
																					txt: 'Наименование категории #2'
																				},
																				{
																					txt: 'Наименование категории #3'
																				},
																			]
																		},
																		{
																			txt: 'Наименование категории #3'
																		},
																	]
															},
															{
																txt: 'Наименование категории #4'
															},
															{
																txt: 'Наименование категории #5'
															},
															{
																txt: 'Наименование категории #6'
															},
														]
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #3',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #4',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #5',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #6',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #7',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #8',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												}
											]
										})
								.c-new-place__language
									.c-filters
										.form-group__label
											span Язык площадки
										+select-block({
											name: 'place-lng',
											selectedValue: '',
											custom_class: 'is-hover',
											required: true,
											placeholder: 'Выберите язык площадки',
											list: [
												{
													txt: 'Английский'
												},
												{
													txt: 'Украинский'
												},
												{
													txt: 'Русский'
												}
											]
										})
						.c-new-place__bottom-block
							.c-new-place__row
								.c-new-place__left-block
									.c-new-place__analytics
										.c-filters
											.form-group__label
												span Аналитика
											+select-block({
												name: 'analytics',
												selectedValue: 'Яндекс.Метрика',
												selected_img_link: 's/images/tmp_file/yandex.svg',
												//- placeholder: 'Выберите Аналитику',
												custom_class: 'is-hover',
												list: [
													{
														txt: 'Яндекс.Метрика',
														img: true,
														img_link: 's/images/tmp_file/yandex.svg'
													},
													{
														txt: 'Google.Analytics',
														img: true,
														img_link: 's/images/tmp_file/ga_logo.svg'
													},
													{
														txt: 'Другое',
														img: false
													}
												]
											})
									.c-new-place__alert
										b Предоставьте доступ 
										span на указанный адрес - ga@teaserable.com
									.c-new-place__link
										.form-group-wrap
											.form-group__label
												span Ссылка на отчет аналитики
											+form-group({
												required: true,
												type: 'url',
												placeholder: 'ссылка на отчет из вашей Яндекс.Метрика',
												name: 'link'
											})
									.c-new-place__btns
										button(type='submit').active Сохранить
										button(type='submit') Сохранить и добавить еще одну
								.c-new-place__right-block
									.c-new-place__comment
										.form-group-wrap
												.form-group__label
													span Комментарий модератору (не обязательно)
												+form-group({
													type: 'textarea',
													placeholder: 'Любая информация, которая может быть важна для прохождения модерции.',
													name: 'comment'
												})
			if data.place_login
				.c-new-place__inner(class='' + data.custom_class ? data.custom_class : null )
					form.js-form-check
						.c-new-place__top-block
							.c-new-place__row
								.c-new-place__url
									.form-group-wrap
										.form-group__label
											span Адрес сайта
										+form-group({
											required: true,
											type: 'url',
											placeholder: 'например, google.com',
											name: 'url'
										})
								.c-new-place__name
									.form-group__label
											span Название площадки
									.form-group-wrap
										+form-group({
											required: true,
											type: 'text',
											minlength: "3",
											placeholder: 'от 3 до 200 символов',
											name: 'name',
										})
							.c-new-place__row
								.c-new-place__tematic
									.c-filters
										.form-group__label
											span Тематика
										+select-block({
											name: 'tematics',
											selectedValue: '',
											placeholder: 'Все тематики',
											custom_class: 'is-hover is-wide',
											list: [
												{
													txt: 'Наименование категории #1',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #2',
													list: [
														{
															txt: 'Наименование категории #1'
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3',
																list: [
															{
																txt: 'Наименование категории #1'
															},
															{
																txt: 'Наименование категории #2'
															},
															{
																txt: 'Наименование категории #3',
																	list: [
																		{
																			txt: 'Наименование категории #1'
																		},
																		{
																			txt: 'Наименование категории #2',
																			active: true,
																			list: [
																				{
																					txt: 'Наименование категории #1'
																				},
																				{
																					txt: 'Наименование категории #2'
																				},
																				{
																					txt: 'Наименование категории #3'
																				},
																			]
																		},
																		{
																			txt: 'Наименование категории #3'
																		},
																	]
															},
															{
																txt: 'Наименование категории #4'
															},
															{
																txt: 'Наименование категории #5'
															},
															{
																txt: 'Наименование категории #6'
															},
														]
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #3',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #4',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #5',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #6',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #7',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #8',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												}
											]
										})
								.c-new-place__language
									.c-filters
										.form-group__label
											span Язык площадки
										+select-block({
											name: 'place-lng',
											selectedValue: '',
											required: true,
											placeholder: 'Выберите язык площадки',
											custom_class: 'is-hover',
											list: [
												{
													txt: 'Английский'
												},
												{
													txt: 'Украинский'
												},
												{
													txt: 'Русский'
												}
											]
										})
						.c-new-place__bottom-block
							.c-new-place__row
								.c-new-place__left-block
									.c-new-place__analytics
										.c-filters
											.form-group__label
												span Аналитика
											+select-block({
												name: 'analytics',
												selectedValue: 'Яндекс.Метрика',
												selected_img_link: 's/images/tmp_file/yandex.svg',
												custom_class: 'is-hover',
												//- placeholder: 'Выберите Аналитику',
												list: [
													{
														txt: 'Яндекс.Метрика',
														img: true,
														img_link: 's/images/tmp_file/yandex.svg'
													},
													{
														txt: 'Google.Analytics',
														img: true,
														img_link: 's/images/tmp_file/ga_logo.svg'
													},
													{
														txt: 'Другое',
														img: false
													}
												]
											})
									.c-new-place__link
										.form-group-wrap
											.form-group__label
												span Ссылка на отчет аналитики
											+form-group({
												required: true,
												type: 'url',
												placeholder: 'ссылка на отчет',
												name: 'link'
											})
									.c-new-place__authorize
										.form-group-wrap
											.form-group__label
												span Логин от аналитики
											+form-group({
												required: true,
												type: 'text',
												name: 'login',
											})
										.form-group-wrap
											.form-group__label
												span Пароль от аналитики
											+form-group({
												required: true,
												type: 'password',
												name: 'password',
											})
									.c-new-place__btns
										button(type='submit').active Сохранить
										button(type='submit') Сохранить и добавить еще одну
								.c-new-place__right-block
									.c-new-place__comment
										.form-group-wrap
												.form-group__label
													span Комментарий модератору (не обязательно)
												+form-group({
													type: 'textarea',
													placeholder: 'Любая информация, которая может быть важна для прохождения модерции.',
													name: 'comment'
												})
			if data.place_edit
				.c-new-place__inner.c-new-place__inner--edit
					form.js-form-check
						.c-new-place__top-block
							.c-new-place__row
								.c-new-place__name
									.form-group__label
											span Название площадки
									.form-group-wrap
										+form-group({
											required: true,
											type: 'text',
											minlength: "3",
											placeholder: 'от 3 до 200 символов',
											name: 'name',
										})
								.c-new-place__language
									.c-filters
										.form-group__label
											span Язык площадки
										+select-block({
											name: 'place-lng',
											custom_class: 'is-hover',
											selectedValue: '',
											placeholder: 'Выберите язык площадки',
											list: [
												{
													txt: 'Английский'
												},
												{
													txt: 'Украинский'
												},
												{
													txt: 'Русский'
												}
											]
										})
						.c-new-place__bottom-block
							.c-new-place__row
								.c-new-place__left-block
									.c-new-place__analytics
										.c-filters
											.form-group__label
												span Аналитика
											+select-block({
												name: 'analytics',
												selectedValue: 'Яндекс.Метрика',
												selected_img_link: 's/images/tmp_file/yandex.svg',
												placeholder: 'Выберите Аналитику',
												custom_class: 'is-hover',
												list: [
													{
														txt: 'Яндекс.Метрика',
														img: true,
														img_link: 's/images/tmp_file/yandex.svg'
													},
													{
														img_link: 's/images/tmp_file/ga_logo.svg',
														txt: 'Google.Analytics',
														img: true,
													},
													{
														txt: 'Другое'
													}
												]
											})
									.c-new-place__alert
										b Предоставьте доступ 
										span на указанный адрес - ga@teaserable.com
									.c-new-place__link
										.form-group-wrap
											.form-group__label
												span Ссылка на отчет аналитики
											+form-group({
												required: true,
												type: 'url',
												placeholder: 'ссылка на отчет из вашей Яндекс.Метрика',
												name: 'link'
											})
								.c-new-place__right-block
									.c-new-place__comment
										.form-group-wrap
												.form-group__label
													span Комментарий модератору (не обязательно)
												+form-group({
													type: 'textarea',
													placeholder: 'Любая информация, которая может быть важна для прохождения модерции.',
													name: 'comment'
												})
							.c-new-place__btns
								button(type='submit').active Сохранить
								button(type='submit') Сохранить и добавить еще одну
								button(type='button').wide Отправить на повторную модерацию