.c-new-place {
	padding-bottom: 40px;
	&__inner {
		width: 936px;
		&--edit {
			.c-new-place__name {
				margin-right: 24px;
			}
		}
	}
		&__row {
			display: flex;
			&:not(:last-child) {
				padding-bottom: 26px;
			}
			.select-block {
				width: 456px;
			}
			.select-block__placeholder, .select-block__value-view {
				font-size: 15px !important;
				font-weight: normal !important;
			}
		}
		&__top-block {
			padding-bottom: 33px;
			position: relative;
			border-bottom: 2px solid rgba(13, 29, 45, 0.15);
		}
		.form-group-wrap {
			display: flex;
			flex-direction: column;
			width: 456px;
		}
		.form-group__label {
			padding-bottom: 5px;
			span {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: 500;
				letter-spacing: normal;
				color: #879093;
			}
		}
		.form-control {
			border-radius: 4px;
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: #ffffff;
			box-shadow: none;
			min-height: 50px;
			padding: 14px 20px;
			font-family: Ubuntu;
			font-size: 15px;
			color: #000;
		}
		input::-webkit-input-placeholder {
			font-family: Ubuntu;
			font-size: 15px;
			letter-spacing: normal;
			color: $black;
			opacity: 0.35;
		}
		&__url {
			margin-right: 24px;
		}
		&__tematic {
			margin-right: 24px;
		}
		&__bottom-block {
			padding-top: 32px;
			.c-new-place__row {
				padding-bottom: 0;
			}	
		}
		&__alert {
			padding-top: 14px;
			padding-bottom: 20px;
			b {
				font-family: Ubuntu;
				font-size: 15px;
				color: $black;
				letter-spacing: normal;
				font-weight: bold;
			}
			span {
				font-family: Ubuntu;
				font-size: 15px;
				color: $black;
				letter-spacing: normal;
			}
		}
		&__comment {
			margin-left: 24px;
			.form-group-wrap {
				textarea {
					width: 456px;
					height: 178px;
					border-radius: 4px;
					border: solid 1px rgba(44, 56, 58, 0.07);
					background-color: #ffffff;
					padding-top: 18px;

				}
				textarea::-webkit-input-placeholder {
					letter-spacing: 0.2px;
					font-size: 15px;
					line-height: 1.53;
					opacity: 0.35;
					color: $black;

				}
			
			}
		}
		.form-group {
			margin-bottom: 0;
	}
	&__btns {
		display: flex;
		align-items: center;
		padding-top: 33px;
		.active {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: 500;
			line-height: 46px;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			min-width: 129px;
			height: 50px;
			border-radius: 4px;
			background-color: #1595fc;
			display: inline-block;
			transition: all 0.3s ease;
			&:hover {
				background-color: lighten($color: $blue, $amount: 10%);
			}
		}
		.wide {
			min-width: 321px;
		}
		button {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: 500;
			line-height: 46px;
			letter-spacing: normal;
			text-align: center;
			color: #2c383a;
			display: inline-block;
			min-width: 287px;
			height: 50px;
			border-radius: 4px;
			border: solid 2px #1595fc;
			transition: all 0.3s ease;
			margin-right: 10px;
			cursor: pointer;
			&:hover {
				border: solid 2px lighten($color: $blue, $amount: 10%);
			}
		}
	}
	&__analytics {
		.c-filters .select-block__list ul li a {
			padding: 0 11px;
	}
	.select-block__list {
		img {
			margin-right: 10px;
		}
	}
	}
	&__authorize {
		display: flex;
		.form-group-wrap {
			width: 223px;
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}
.rejected__place {
	margin-bottom: 24px;
	margin-top: -5px;
	max-width: 936px;
	width: 100%;
  border-radius: 4px;
  border: solid 1px rgba(44, 56, 58, 0.07);
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	padding: 23px 12px;
	padding-bottom: 16px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background-color: #ff5050;
		height: 10px;
		display: inline-block;
	}
	span {
		font-family: Ubuntu;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;
		letter-spacing: normal;
		color: #ff5050;
	}
	p {
		font-family: Ubuntu;
		font-size: 15px;
		font-weight: normal;
		line-height: 1.47;
		letter-spacing: normal;
		color: #2c383a;
		padding-top: 11px;
		margin: 0;
	}
}
.login_place {
	.c-new-place__link {
		padding-top: 24px;
		.form-group {
			margin-bottom: 25px;
	}
	}
}