.c-pagination {
	.container {
		position: relative;
	}
	&__wrap {
		display: flex;
		width: 100%;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		&-btn {
			padding-left: 224px;
		}
	}
	&__left-arrow , &__right-arrow {
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 46px;
			width: 46px;
			border: solid 2px #dde2e6;
			border-radius: 50%;
			transition: all 0.3s ease;
			&:hover {
				border: solid 2px $blue;
				cursor: pointer;
				svg {
					color: $blue;
				}
			}
		}
		svg {
			color: #879093;
			transition: all 0.3s ease;
		}
	}
	&__left-arrow {
		margin-right: 10px;
		svg {
			transform: rotate(90deg);
		}
	}
	&__right-arrow {
		margin-left: 10px;
		svg {
			transform: rotate(-90deg);
		}
	}
	&__body {
		ul {
			display: flex;
			align-items: flex-end;
			list-style-type: none;
			margin: 0;
			padding: 0;
			border-radius: 4px;
			border: solid 2px rgba(153, 163, 167, 0.25);
			li {
				&:hover {
					a {
						&:after {
							opacity: 1;
							visibility: visible;
						}
						span {
							color: $white;
						}
					}
					
				}
				a {
					display: inline-block;
					position: relative;
					&:after {
						content: '';
						top: -3px;
						left: -3px;
						bottom: -3px;
						right: -3px;
						position: absolute;
						display: inline-block;
						background-color: $blue;
						border-radius: 4px;
						visibility: hidden;
						opacity: 0;
						transition: all 0.3s ease;
					}
					span {
						font-family: Ubuntu;
						font-size: 15px;
						font-weight: 500;
						color: #2c383a;
						padding: 12px;
						text-align: center;
						display: inline-block;
						z-index: 9999999;
					}
				}
				span {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: 500;
					color: #2c383a;
					padding: 12px;
					text-align: center;
					display: inline-block;
					position: relative;	
				}
			}
			li.active {
				a {
					&:after {
						content: '';
						top: -3px;
						left: -3px;
						bottom: -3px;
						right: -3px;
						position: absolute;
						display: inline-block;
						background-color: $blue;
						border-radius: 4px;
						opacity: 1;
						visibility: visible;
					}
					span {
						color: #fff;
						z-index: 9999999;
					}
				}
			}
		}
	}
}