mixin c-pagination(data)
	.c-pagination(class='' + data.custom_class ? data.custom_class : null )
		.container
			.c-pagination__inner
				if data.full_pagination
					.c-pagination__inner
						.c-pagination__left-arrow
							button
								+svg('icon-arrow')
						.c-pagination__body
							ul
								li
									a(href="#") 
										span 1
								li.active
									a(href="#") 
										span 2
								li
									a(href="#") 
										span 3
								li
									span ...
								li
									a(href="#") 
										span 11
								li
									a(href="#") 
										span 12
								li
									a(href="#") 
										span 13
						.c-pagination__right-arrow
							button
								+svg('icon-arrow')
				if data.no_lefta_pagination
					.c-pagination__inner
						.c-pagination__body
							ul
								li.active
									a(href="#") 
										span 1
								li
									a(href="#") 
										span 2
								li
									a(href="#") 
										span 3
								li
									span ...
								li
									a(href="#") 
										span 11
								li
									a(href="#") 
										span 12
								li
									a(href="#") 
										span 13
						.c-pagination__right-arrow
							button
								+svg('icon-arrow')
				if data.no_righta_pagination
					.c-pagination__inner
						.c-pagination__left-arrow
							button
								+svg('icon-arrow')
						.c-pagination__body
							ul
								li
									a(href="#") 
										span 1
								li
									a(href="#") 
										span 2
								li
									a(href="#") 
										span 3
								li
									span ...
								li
									a(href="#") 
										span 11
								li
									a(href="#") 
										span 12
								li.active
									a(href="#") 
										span 13
						
				if data.small_pagination
					.c-pagination__inner
						.c-pagination__left-arrow
							button
								+svg('icon-arrow')
						.c-pagination__body
							ul
								li.active
									a(href="#") 
										span 1
								li
									a(href="#") 
										span 2
						.c-pagination__right-arrow
							button
								+svg('icon-arrow')
				if data.full_pagination_btn
					.c-pagination__wrap
						.c-pagination__inner.c-pagination__inner-btn
							.c-pagination__left-arrow
								button
									+svg('icon-arrow')
							.c-pagination__body
								ul
									li
										a(href="#") 
											span 1
									li.active
										a(href="#") 
											span 2
									li
										a(href="#") 
											span 3
									li
										span ...
									li
										a(href="#") 
											span 11
									li
										a(href="#") 
											span 12
									li
										a(href="#") 
											span 13
							.c-pagination__right-arrow
								button
									+svg('icon-arrow')
						.c-pagination__btn
							a.add_platforms(href='#')
								svg.icon.icon-add(width='1em', height='1em')
									use(xlink:href='s/images/useful/svg/theme/symbol-defs.svg#icon-add')
								span Добавить площадку
			a(href="#")#scroller.btn
				+svg('icon-arrow')