.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	background-color: #f5f8fc;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1128px !important;
	padding: 0 !important;
}
main {
	flex: 1 0 auto;
}
button:focus {
	outline: none;
}

input:focus {
	outline: none;
	outline-offset: 0;
	box-shadow: none;
	}


.checkbox-custom, .radio-custom {
	opacity: 0;
	position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
	display: flex;
	vertical-align: middle;
	cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
	position: relative;
	font-family: Ubuntu;
	font-size: 15px;
	font-weight: bold;
	color: #879093;
	letter-spacing: normal;
	line-height: 19px;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
	content: '';
	background: transparent;
	border: solid 2px #879093;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
	margin-right: 15px;
	text-align: center;
}
.checkbox-custom + .checkbox-custom-label::after, .radio-custom + .radio-custom-label::after {
	content: '';
	width: 8px;
	height: 12px;
	left: 7px;
	top: 4px;
	position: absolute;
	border: solid $white;
	border-width: 0 3px 3px 0;
	border-radius: 3px;
	transform: rotate(41deg);
	display: flex;
	text-align: center;
	vertical-align: middle;
	transition: all 0.2s ease;
	visibility: hidden;
	opacity: 0;
}


.radio-custom + .radio-custom-label:before {
	border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
	background: $blue;
	border: none;
	width: 22px;
	height: 22px;
	box-sizing: border-box;
	margin-right: 13px;

}
.radio-custom:checked + .radio-custom-label:after {
	visibility: visible;
	opacity: 1;
}


.fixed-filter {
	position: fixed;
	top: 58px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
	z-index: 99999999;
	max-width: 1128px;
	padding-top: 16px !important;
	padding-bottom: 17px !important;
	.c-table__filter-subject {
		width: 304px;
	}
	.c-table__filter-sort--views {
    width: 186px;
	}
	.c-table__filter-sort--visits {
		width: 155px;
	}
	.c-table__filter-sort--profit {
		width: 173px;
	}
}

.tooltip {
	.tooltip-inner {
		background-color: #002144;
		padding: 10px;
		padding-bottom: 0;
		display: inline-block;
		max-width: 188px;
		transition: all 0.3s ease;
		z-index: 99999;
		font-family: Ubuntu;
		font-size: 14px;
		line-height: 1.43;
		color: #ffffff;
		letter-spacing: normal;
		display: inline-block;
		text-align: left;
		margin-top: 8px;
		margin-left: 9px;
		padding-bottom: 8px;
		border-radius: 4px;
		opacity: 1;
	}
	.arrow {
		top: 8px !important;
		&:before {
			margin-left: 0 !important;
			border-width: 0 6px 5px;
			border-bottom-color: #002144 !important;
		}
	}
}
.tooltip.show {
	opacity: 1 !important;
}

.visible-block {
	opacity: 1;
	visibility: visible;
	display: block !important;
}
.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}
.container {
	position: relative;
}
.loader {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	z-index: 999999999;
	padding-top: 20vh;
	
	.icon-loader {
		font-size: 154px;
		position: absolute;
		z-index: 9999999999;
		animation: loader 10s 0s linear infinite;
	}
	&:after {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		position: absolute;
		background-color: rgba(245, 248, 252, 0.85);
		z-index: 9999999;
		display: inline-block;
	}
}

@keyframes loader {
  0% {transform:rotate(0deg)}
  100%{transform:rotate(-360deg)}}

label.error {
	font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ff5050;
}

#scroller {
	width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #879093;
	position: absolute;
	right: -70px;
	bottom: -2px;
	cursor: pointer;
	display:none;
	transition: all 0.3s ease;
	&:hover {
		background-color: lighten($color: #879093, $amount: 5%);
	}
	svg {
		width: 18px;
		height: 11px;
		color: #ffffff;
		left: 20px;
    top: 18px;
		position: absolute;
		transform: rotate(180deg);
	}
}
main {
	min-height: calc(100vh - 115px);
}
.container {
	height: 100%;
}


input[type=number] {
	-moz-appearance:textfield;
}

.hide-color {
	opacity: 0;
	visibility: hidden;
}

.flex-column {
	flex-direction: column;
}

.embed__place-caption {
	max-width: 204px !important;
}



$daterangepicker-day-size: 39px;

// .drp-calendar.right {
// 	display: none !important;
// }

.daterangepicker {
	// top: 781px !important;
	// left: 872.5px !important;
	// right: auto;
	width: 325px;
	&.show-calendar {
		height: auto !important;
	}

	&:after, &:before {
		display: none;
	}
	.right {
		position: absolute;
		right: 0;
		tbody {
			display: none;
		}
		thead tr th {
			display: none;
		}
		.next  {
			display: block;
		}
	}
	.calendar-table .next span, .daterangepicker .calendar-table .prev span {
		border: solid #8a8f9b;
		border-width: 0 2px 2px 0;
	}
	thead {
		tr {
			th {
				height: 46px !important;
				color: #6e6e6e;
			}
		}
	 }
}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
	border: solid #8a8f9b;
	border-width: 0 2px 2px 0;
}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev  {
	position: absolute;
	right: 30px;
}
.daterangepicker .drp-calendar.left{
	max-width: 100%;
	width: 100%;
	padding: 0;
}
.daterangepicker .drp-calendar.right{
	padding: 0;
	margin: 0;
}
.calendar-table {
	padding: 4px !important;
}
.daterangepicker .right .next {
	position: absolute;
	right: 17px;
	top: 18px;
	span {
		padding: 5px;
		border-width: 0 1px 1px 0;
		right: 0;
	}
}
.daterangepicker .left .prev {
	position: absolute;
	right: 32px;
	top: 12px;
	span {
		padding: 5px;
		border-width: 0 1px 1px 0;
		right: 0;
	}
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	// height: 44px !important;
	font-size: 14px;
}

.daterangepicker {
	// height: 338px;
	// overflow: hidden;
	.active {
		// width: 0 !important;/
		// border-radius: 50% !important;
		// background-color: #2b9ffc !important;
		// min-width: 20px !important;

	}
td.active.start-date.available.in-range {
	&:before {
		display: none !important;
	}
}
	td {
		height: $daterangepicker-day-size !important;
		position: relative;
		border: none !important;

		&.in-range {
			&:first-child {
				border-bottom-left-radius: 8px;
				border-top-left-radius: 8px;
			}
			&:last-child {
				border-bottom-right-radius: 8px;
				border-top-right-radius: 8px;
			}
		}

		&.start-date,
		&.end-date {
			background: none !important;
			&:hover {
				background: transparent !important;
			}
			span {
				background-color: #2b9ffc !important;
			}

			&:before {
				background-color: #f0f1f1;
				margin-bottom: auto;
				position: absolute;
				margin-top: auto;
				display: block;
				bottom: -10px;
				height: $daterangepicker-day-size;
				content: '';
				top: -10px;
				z-index: 1;
			}
		}

		&.start-date {
			background-color: transparent;
			&:before {
				left: 50% !important;
				right: 0;
			}
		}
		&.end-date {
			&:before {
				right: 50% !important;
				left: 0;
			}
		}
		&.start-date.end-date {
			&:before {
				display: none;
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;
			position: absolute;
			margin: auto;
			height: $daterangepicker-day-size;
			width: $daterangepicker-day-size;
			z-index: 3;
			border-radius: 50%;
			bottom: -10px;
			right: -10px;
			left: -10px;
			top: -10px;
		}
	}

	.end-date {
		background-color: #2b9ffc !important;
	}
	.start-date {}
	th {
		&:hover {
			background-color: transparent !important;
		}
	}
}



td.off.ends.active  {
	color: #fff !important;
	&:hover {
		color: #fff !important;
	}
}
td.active  {
	color: #fff !important;
	&:hover {
		color: #fff !important;
	}
}
td.in-range  {
	background-color: #f0f1f1 !important;
	&:hover {
		background-color: #f0f1f1 !important;
	}
}
.daterangepicker td.in-range:hover{
	background-color: transparent !important; 
}
.daterangepicker td.start-date:hover{
	background-color: transparent !important; 
}


.daterangepicker td.available:hover{
	background: transparent !important;
	span {
		background-color: #2b9ffc !important;
		color: #fff;
	}
	&::before {
		background-color: transparent;
	}
}
.daterangepicker td.available.in-range:last-of-type{
	&:before {
		background-color: #f0f1f1;
    margin-bottom: auto;
    position: absolute;
    margin-top: auto;
    display: block;
    bottom: -10px;
    height: 39px;
    content: '';
    top: -10px;
		z-index: 1;
		right: 50% !important;
    left: 0;
	}
}


.daterangepicker{
	margin-top: -49px;
	border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	width: 327px !important;
	height: 338px !important;
	overflow: hidden;

}
.daterangepicker td.in-range.available:hover {
	background-color: #f0f1f1 !important;
}
.daterangepicker td.in-range.start-date:hover {
	background-color: transparent !important;
}
.daterangepicker td.in-range.end-date:hover {
	background-color: transparent !important;
}
.daterangepicker td.available.start-date:hover::before, .daterangepicker td.available.end-date:hover::before{
	background-color: #f0f1f1 !important;
}
.daterangepicker td.available.in-range:last-child{
	&:hover  {
		background-color: red !important;
	}
}

.daterangepicker th.month{
	text-align: left;
	font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
	color: #000000;
	position: absolute;
	top: 16px;
	left: 12px;
}









.switch-input {
	width: 207px;
	z-index: 5;
	overflow: hidden;
	.switch {
		position: relative;
		display: inline-block;
		width: 38px;
		height: 22px;
		transition: all 0.3s ease;
	}
	
	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
		position: relative;
		transition: all 0.3s ease;
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #879093;
		transition: all 0.3s ease;
	}
	
	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		transition: all 0.3s ease;
	}
	
	input:checked ~ .slider {
		background-color: #89d924;
	}
	
	
	input:checked ~ .slider:before {
		transform: translateX(15px);

	}
	input:checked ~ .slider:after {
		// content: 'Активна';
		content: attr(data-active) "";
		position: absolute;
		left: 45px;
			top: 2px;
		color: #7ed321;
		font-size: 15px;
		font-family: Ubuntu;
		font-weight: 500;
	}
	input ~ .slider:after {
		// content: 'Не активна';
		content: attr(data-notactive) "";
		position: absolute;
		left: 45px;
		top: 2px;
		color: #727272;
		font-size: 15px;
		font-family: Ubuntu;
		font-weight: 500;
		white-space: nowrap;
	}
	
	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}
	
	.slider.round:before {
		border-radius: 50%;
	}
	span {
		font-family: Ubuntu;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: normal;
	}
	.orange {
		color: #ff8000;
	}
	.red {
		color: #ff5050;
	}
}



.tooltip-wrapper {
	padding-left: 6px;
	display: flex;
	align-items: center;
	button {
		cursor: pointer;
		position: relative;
		display: inline-block;
		span {
			font-family: Ubuntu;
			font-size: 14px;
			font-weight: bold;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			background-color: rgba(135, 144, 147, 0.25);
			display: inline-block;
			line-height: 22px;
			text-align: center;
			color: #727b7e;
		}
		&:hover {
			cursor: pointer;
			span {
				background-color: $blue;
				color: $white;
			}
		}
	}

	&--finances {
		.tooltip-inner {
			width: 388px;
			display: none;
		}
	}
}
.tooltip-wide {
	.tooltip-inner {
		max-width: 310px;
	}

}


@keyframes waiting {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

