.c-add-block {
	padding-bottom: 54px;
	&__text-aligment {
		margin-left: 23px;
		margin-top: 14px;
	}
	&__preview {
		max-width: 1068px;
	}
	&__section {
		padding-bottom: 29px;
		max-width: 936px;
		&--wide {
			max-width: 1068px;
			.c-add-block__section-title, .c-add-block__section-body {
				max-width: 936px;
			}
			.js-calculator {
				.c-add-block__section-body {
					padding-bottom: 9px;
				}
			}
		}
		&-title {
			border-bottom: 2px solid rgba(13, 29, 45, 0.15);
			padding-bottom: 12px;
			position: relative;
			h4 {
				letter-spacing: normal;
				font-family: Ubuntu;
				line-height: normal;
				font-weight: bold;
				color: #2c383a;
				font-size: 17px;
			}
			&-small {
				padding-bottom: 20px;
				h4 {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: 500;
					line-height: normal;
					letter-spacing: normal;
					color: #879093;
					margin: 0;
				}
			}
		}
		&-body {
			display: flex;
			&-left {
				margin-right: 24px;
				width: 456px;
			}
			&-right {
				width: 456px;
			}
			&-row {
				display: flex;
			}
		}
		&-btns {
			padding-top: 33px;
			button {
				border: solid 2px #1595fc;
				transition: all 0.3s ease;
				letter-spacing: normal;
				display: inline-block;
				font-family: Ubuntu;
				text-align: center;
				border-radius: 4px;
				line-height: 46px;
				color: #2c383a;
				font-weight: 500;
				min-width: 287px;
				cursor: pointer;
				font-size: 15px;
				height: 50px;
				&:hover {
					border: solid 2px #47acfd;
				}
			}
			.active {
				cursor: pointer;
				background-color: #1595fc;
				transition: all 0.3s ease;
				letter-spacing: normal;
				display: inline-block;
				font-family: Ubuntu;
				border-radius: 4px;
				text-align: center;
				margin-right: 10px;
				line-height: 46px;
				font-weight: 500;
				color: #ffffff;
				min-width: 129px;
				font-size: 15px;
				height: 50px;
				&:hover {
					background-color: #47acfd;
				}
			}
		}
	}
	&__input {
		padding-top: 24px;
		.form-group__label {
			padding-bottom: 8px;
			span {
				letter-spacing: normal;
				font-family: Ubuntu;
				line-height: normal;
				color: #879093;
				font-weight: 500;
				font-size: 15px;
			}
		}
		.form-control {
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: white;
			font-family: Ubuntu;
			padding: 14px 20px;
			border-radius: 4px;
			box-shadow: none;
			min-height: 50px;
			font-size: 15px;
			color: #000;
		}
		input::-webkit-input-placeholder {
			letter-spacing: normal;
			font-family: Ubuntu;
			font-size: 15px;
			color: $black;
			opacity: 0.35;
		}
		&-color {
			.input-wrap {
				position: relative;
			}
			.color-prewiew {
				border: solid 1px #f0f1f1;
				transform: translateY(-50%);
				justify-content: center;
				align-items: center;
				position: absolute;
				border-radius: 50%;
				display: flex;
				height: 28px;
				width: 28px;
				top: 50%;
				right: 12px;
				cursor: pointer;
				span {
					background-color: #ff5050;
					border-radius: 50%;
					height: 22px;
					width: 22px;
				}
			}
		}
		&-small {
			padding-top: 10px;
			margin-left: 19px;
			width: 109px;
			.input-wrap {
				.after-px {
					color: rgba(0, 0, 0, 0.5);
					transform: translateY(-50%);
					letter-spacing: normal;
					display: inline-block;
					pointer-events: none;
					font-family: Ubuntu;
					font-weight: normal;
					line-height: normal;
					position: absolute;
					font-size: 15px;
					right: 51px;
					top: 50%;
				}
			}
		}
		&-color {
			width: 218px;
			input {
				text-transform: uppercase;
			}
		}
	}
	&__select {
		padding-top: 10px;
		.form-group__label {
			padding-bottom: 8px;
			span {
				letter-spacing: normal;
				font-family: Ubuntu;
				line-height: normal;
				color: #879093;
				font-weight: 500;
				font-size: 15px;
			}
		}
		.select-block {
			width: 100%;
		}
		.is-radio {
			.c-table__filter-subject {
				display: inline-block;
				width: auto;
			}
			.select-block__value-view {
				.c-table__filter-subject {
					display: none;
				}
			}
			li {
				align-items: center;
				padding-left: 15px;
				a {
					padding-left: 0 !important;
				}
			}
		}
	}
	&__radio {
		.form-group__label {
			padding-bottom: 8px;
			padding-top: 25px;
			span {
				letter-spacing: normal;
				font-family: Ubuntu;
				line-height: normal;
				color: #879093;
				font-weight: 500;
				font-size: 15px;
			}
		}
		.radio-group {
			margin-bottom: 1.5rem;
			font-size: 0.9375rem;
			border: none;
			padding: 0;
		}

		.radio-group-input {
			display: none;
		}

		.radio-group-label {
			transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out;
  		border: solid 1px rgba(44, 56, 58, 0.07);
			box-sizing: border-box;
			letter-spacing: normal;
			display: inline-block;
			font-weight: normal;
			font-family: Ubuntu;
			text-align: center;
			font-style: normal;
			margin-right: -1px;
			text-align: center;
			border-radius: 4px;
			text-shadow: none;
			line-height: 50px;
			color: #000000;
			font-size: 15px;
			padding: 0 48px;
			height: 50px;
		}
		
		.radio-group-label:hover {
			cursor: pointer;
		}
		
		.radio-group-input:checked + .radio-group-label {
			background-color: $blue;
			color: #fff;
		}
		

		
		.radio-group-label:first-of-type {
			border-radius: 3px 0 0 3px;
		}
		
		.radio-group-label:last-of-type {
			border-radius: 0 3px 3px 0;
			padding: 0 37.5px;
			margin-left: -4px;
		}
	}
	&__tematic-block {
		padding-top: 25px;
	}
	&__place {
		padding-top: 24px;
		.form-group {
			height: 50px;
			width: 100%;
			border-radius: 4px;
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: #ffffff;
			position: relative;
			input {
				width: 100%;
				padding-left: 55px;
				height: 100%;
				border: none;
    		padding-right: 20px;
			}
			button {
				position: absolute;
				left: 20px;
				top: 14px;
				display: inline-block;
				cursor: pointer;
				svg {
					opacity: 0.5;
					font-size: 20px;
					color: #879093;
					display: inline-block;
				}
			}
			}
			
	}
	&__textarea {
		padding-top: 10px;
		.form-group {
			
			textarea {
				min-height: 254px;
				line-height: 23px;
			}
			textarea::-webkit-input-placeholder {
				letter-spacing: normal;
				font-family: Ubuntu;
				font-size: 15px;
				color: $black;
				opacity: 0.35;
			}
		}
	}
	&__value {
		padding-top: 24px;
		width: 218px;
		.select-block {
			width: 218px;
		}
		&--tizer {
			padding-top: 25px;
			margin-left: 22px;
			width: 168px;
			.select-block {
				width: 168px !important;
			}
		}
	}
	&__size {
		margin-left: 20px;
		padding-top: 24px;
		.form-group-wrap {
			align-items: center;
			display: flex;
			.input-wrap {
				width: 109px;
				input {
					position: relative;
					padding-left: 31px;
				}
				.left {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
				.right {
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
					margin-left: -1px;
				}
				.after-px {
					color: rgba(0, 0, 0, 0.5);
					transform: translateY(-50%);
					letter-spacing: normal;
					display: inline-block;
					pointer-events: none;
					font-family: Ubuntu;
					font-weight: normal;
					line-height: normal;
					position: absolute;
					font-size: 15px;
					right: 31px;
					top: 50%;
				}
			}
		}
		&--tizer {
			.form-group {
				width: 102px;
				.input-wrap {
					width: 100%;
					input {
						width: 100%;
					}
					.after-px {
						pointer-events: none;
						right: 26px;
					}
				}
				
			}
		}
	}
	&__border {
		margin-right: 20px;
		.form-group__label {
			padding-top: 10px;
		}
		.radio-group-label {
			padding: 0 15px;
			width: 109px;
		}
		.radio-group-label:last-of-type {
			padding: 0 27px;
	}
	}
	&__border-kind {
		.form-group__label {
			padding-top: 10px;
		}
		.form-group-wrap {
			display: flex;
			label {
				margin: 0 !important;
			}
			.border-solid-label {
				width: 73px;
				padding: 0;
			}
			.border-dashed-label {
				border-radius: 0;
				width: 74px;
				padding: 0;
			}
			.border-dotted-label {
				line-height: 50px;
				width: 72px;
				padding: 0;
			}
		}
	}
	&__tizer-vert, &__tizer-goriz {
		width: 218px;
		&:first-child {
			margin-right: 20px;
		}
	}
	&__border-color {
		padding-top: 10px;
		width: 218px;
	}
	&__img-side-text {
		label {
			text-align: center !important;
			margin-right: -5px !important;
			border-radius: 0 !important;
			margin-left: 0 !important;
			padding: 0 !important;
			width: 115px;
			&:first-of-type {
				border-bottom-left-radius: 4px !important;
				border-top-left-radius: 4px !important;
			}
			&:last-of-type {
				border-bottom-right-radius: 4px !important;
				border-top-right-radius: 4px !important;
			}
		}
	}
	&__proportions {
		label {
			padding: 0 !important;
			width: 74px;
		}
	}
	&__text-size {
		padding-top: 25px;
		margin-left: 22px;
		.after-px {
			right: 51px !important;
			pointer-events: none;
		}
	}
	&__show-hide-link {
		label {
			padding: 0 !important;
			width: 109px;
		}
		.form-group__label {
			padding-top: 10px;
		}
	}
	&__link-text {
		padding-top: 10px;
    margin-left: 23px;
		.select-block {
			width: 322px;
		}
	}
	&__link-color {
		margin-left: 20px;
		padding-top: 10px;
	}
	&__link-size {
		.form-group__label {
			span {
				white-space: nowrap;
			}
		}
		.input-wrap {
			.after-px {
				pointer-events: none;
				right: 51px;
			}
		}
	}
	&__content-type {
		display: flex;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-right: 44px;
		}
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&-subject {
			position: relative;
			&:hover {
				.c-add-block__content-type-tizer {
					visibility: visible;
					opacity: 1;
					height: 196px;
				}
			}
		}
		&-subject-title {
				display: flex;
				flex-direction: column;
				max-width: 290px;
				b {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: 400;
					line-height: normal;
					letter-spacing: normal;
					color: #000000;
					transition: all 0.3s ease;
					&:hover {
						color: #1595fc;
					}
				}
				span {
					opacity: 0.5;
					font-family: Ubuntu;
					font-size: 13px;
					font-weight: 400;
					line-height: 1.31;
					letter-spacing: normal;
					color: #000000;
					
				}
		}
		&-tizer {
			width: 400px;
			border-radius: 4px;
			background-color: #ffffff;
			padding: 8px;
			padding-right: 20px;
			display: flex;
			align-items: flex-start;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			transition: all 0.3s ease;
			top: 23px;
			left: 32px;
			box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
			&::after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7px 6px 7px;
				border-color: transparent transparent #ffffff transparent;
				content: '';
				position: absolute;
				top: -6px;
				left: 86px;
			}
			&-img {
				position: relative;
				flex-shrink: 0;
				height: 180px;
				width: 180px;
				border-radius: 3px;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}
			&-desc {
				padding-left: 12px;
				span {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: normal;
					line-height: 1.33;
					letter-spacing: normal;
					color: #000000;
				}
			}
		}
	}
}

.minicolors-theme-default.minicolors {
	width: 100%;
}
.minicolors-theme-default .minicolors-input {
	width: 218px;
}

.minicolors-theme-default .minicolors-swatch {
	border: solid 1px #f0f1f1;
	transform: translateY(-50%);
	border-radius: 50%;
	background: none;
	cursor: pointer;
  height: 28px;
	width: 28px;
	right: 12px;
	left: auto;
	top: 50%;
}
.minicolors-swatch-color {
	border-radius: 50%;
	bottom: auto;
	height: 22px;
	width: 22px;
	right: 2px;
	left: auto;
	top: 2px;
}

.minicolors .minicolors-grid {
	cursor: default;
	left: 5px;
	top: 5px;
}

.minicolors-grid .minicolors-picker {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #ffffff;
	position: absolute;
	border-radius: 50%;
	margin-left: -6px;
	margin-top: -6px;
	background: none;
  height: 7px;
	left: 70px;
	width: 7px;
	top: 70px;
}
.minicolors-grid .minicolors-picker > div{
	display: none;
}
.minicolors-slider {
	margin-left: 10px;
	top: 5px;
	.minicolors-picker {
		position: relative;
		background: none;
		border: none;
		&:after {
			border-color: transparent #666666 transparent transparent;
			transform: translateY(-50%);
			border-width: 2px 6px 2px 0;
			display: inline-block;
			border-style: solid;
			position: absolute;
			z-index: 9999;
			content: '';
			right: -6px;
			height: 0;
			top: 50%;
			width: 0;
		}
		&:before {
			border-color: transparent transparent transparent #666666;
			transform: translateY(-50%);
			border-width: 2px 0 2px 6px;
			display: inline-block;
			border-style: solid;
			position: absolute;
			z-index: 9999;
			content: '';
			left: -6px;
			height: 0;
			top: 50%;
			width: 0;
		}
	}
}
.minicolors-opacity-slider{
	margin-left: 20px;
	top: 5px;
	.minicolors-picker {
		position: relative;
		background: none;
		border: none;
		&:after {
			border-color: transparent #666666 transparent transparent;
			transform: translateY(-50%);
			border-width: 2px 6px 2px 0;
			display: inline-block;
			border-style: solid;
			position: absolute;
			z-index: 9999;
			content: '';
			right: -6px;
			height: 0;
			top: 50%;
			width: 0;
		}
		&:before {
			content: '';
			border-color: transparent transparent transparent #666666;
			transform: translateY(-50%);
			border-width: 2px 0 2px 6px;
			display: inline-block;
			border-style: solid;
			position: absolute;
			z-index: 9999;
			left: -6px;
			height: 0;
			top: 50%;
			width: 0;
		}
	}
}
.minicolors-btn {
	background-color: $blue;
  letter-spacing: normal;
	font-family: Ubuntu;
  font-weight: normal;
  line-height: normal;
	position: absolute;
	text-align: center;
	line-height: 37px;
	color: #ffffff;
  font-size: 15px;
	cursor: pointer;
	bottom: 0;
	right: 0;
	left: 0;
}
.minicolors-panel {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	border: none !important;
	width: 100% !important;
  border-radius: 4px;
	overflow: hidden;
	height: 196px;
}
.minicolors-grid {
	margin: 0 !important;
	border-radius: 4px;
}



.ui-autocomplete{
	border-radius: 4px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	z-index: 99;
	position: absolute;
	padding-left: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;


	.ui-menu-item {
		padding: 10px 0;
		transition: all 0.3s ease;
		&:hover {
			a {
				color: $blue;
			}
		}
		a {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #2c383a;
			background-color: #ffffff;
			cursor: pointer;
			display: block;
		}
	}

}

.ui-helper-hidden-accessible {
	display: none;
}

.is-input {
	.select-block__list {
		top: 50px;
	}
	input {
		visibility: visible !important;
		z-index: 1 !important;
		opacity: 1 !important;
		width: 100% !important;
		height: 50px !important;
		border: solid 1px rgba(44, 56, 58, 0.07);
    text-overflow: ellipsis;
    letter-spacing: normal;
    background: #ffffff;
    padding-right: 36px;
    white-space: nowrap;
    border-radius: 8px;
    border-radius: 4px;
    position: relative;
    padding-left: 20px;
    line-height: 50px;
    overflow: hidden;
    font-weight: 500;
    text-align: left;
    cursor: auto;
    font-family: Ubuntu;
		font-size: 15px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
    height: 50px;
		width: 100%;
		&:focus {
			outline: none;
			box-shadow: 0;
			border-color: rgba(44, 56, 58, 0.07); 
		}
	}
}