mixin c-add-block(data)
	.c-add-block
		.container
			.c-add-block__inner
				form.c-add-block__form(action="/")
					.c-add-block__section
						.c-add-block__section-title
							h4 Настройки блока
						.c-add-block__section-body
							.c-add-block__section-body-left
								.c-add-block__name-block.c-add-block__input
									.c-filters
										.form-group__label
											span Название блока
										.form-group-wrap
											.form-group
												.input-wrap
													input.form-control(type='text', name='block-title', placeholder='от 3 до 200 символов', value='Название тизера и его описание', required='required', minlength='3')
								.c-add-block__type-block.c-add-block__select
									.c-filters
										.form-group__label
											span Тип блока
										+select-block({
											name: 'block-type',
											selectedValue: 'Стандартный блок',
											selectedInputValue: 'standart',
											custom_class: 'is-hover',
											required: true,
											placeholder: 'Выберите язык площадки',
											list: [
												{
													txt: 'Стандартный блок',
													value: 'standart'
												},
												{
													txt: 'Неcтандартный блок',
													value: 'not-standart'
												}
											]
										})
								.c-add-block__tematic-select.c-add-block__radio
									.c-filters
										.form-group__label
											span Выбрать тематики или исключить
										.form-group-wrap
											input#selectthematics.radio-group-input(type='radio', name='thematic-switch', value='selectthematics', checked)
											label.radio-group-label(for='selectthematics') Выбрать тематики
											input#unselectthematics.radio-group-input(type='radio', value='unselectthematics', name='thematic-switch')
											label.radio-group-label(for='unselectthematics') Исключить тематики
								.c-add-block__tematic-block.c-add-block__select
									.c-filters
										.form-group__label
											span Тематики блоков (несколько)
										+select-block({
											name: 'them-block',
											selectedValue: 'Финансы, Информационные технологии, Магазины',
											placeholder: 'Все тематики',
											custom_class: 'is-hover is-radio is-wide',
											checkbox: true,
											select_tags: true,
											list: [
												{
													txt: 'Наименование категории #1 оооооочень длинное название',
													value: 'firstcategory',
													list: [
														{
															txt: 'Финансы',
															
														},
														{
															txt: 'Информационные технологии'
														},
														{
															txt: 'Магазины'
														},
														{
															txt: 'Обучение'
														},
														{
															txt: 'Закон и право'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #2',
													list: [
														{
															txt: 'Наименование категории #1 оооооочень длинное название'
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3',
															list: [
															{
																txt: 'Наименование категории #1 оооооочень длинное название'
															},
															{
																txt: 'Наименование категории #2'
															},
															{
																txt: 'Наименование категории #3',
																	list: [
																		{
																			txt: 'Наименование категории #1 оооооочень длинное название'
																		},
																		{
																			txt: 'Наименование категории #2',
																			active: true,
																			
																		},
																		{
																			txt: 'Наименование категории #3'
																		},
																	]
															},
															{
																txt: 'Наименование категории #4'
															},
															{
																txt: 'Наименование категории #5'
															},
															{
																txt: 'Наименование категории #6'
															},
														]
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #3',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #4',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #5',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #6',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #7',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														},
													]
												},
												{
													txt: 'Наименование категории #8',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														}
													]
												},
												{
													txt: 'Наименование категории #9',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														}
													]
												},
												{
													txt: 'Наименование категории #10',
													list: [
														{
															txt: 'Наименование категории #1',
														},
														{
															txt: 'Наименование категории #2'
														},
														{
															txt: 'Наименование категории #3'
														},
														{
															txt: 'Наименование категории #4'
														},
														{
															txt: 'Наименование категории #5'
														},
														{
															txt: 'Наименование категории #6'
														}
													]
												}
											]
										})
							.c-add-block__section-body-right
								.c-add-block__place.c-add-block__select
									.c-filters
										.form-group__label
											span Площадка
										.form-group
											button(type="submit")
												+svg('icon-search')
											input(type="text", placeholder='Поиск по домену' , autocomplete='off')#search_by_domain
										
								.c-add-block__stub.c-add-block__input.c-add-block__textarea
									.c-filters
										.form-group__label
											span Код заглушки
										.form-group-wrap
											.form-group
												.input-wrap
													textarea.form-control(type='textarea', name='stub', placeholder='Вставте код заглушки, которая будет показываться в случае, если тизеры блокируются Adblock или в данный  момент система не подобрала подходящих объявлений.', minlength='3')
					.c-add-block__section
						.c-add-block__section-title-small
							h4 Типы контента
						.c-add-block__section-body
							.c-add-block__content-type
								ul
									li
										.c-add-block__content-type-subject
											input#anim_tizer.radio-custom(name='radio-group', type='checkbox')
											label.radio-custom-label(for='anim_tizer')
												.c-add-block__content-type-subject-title
													b Показывать анимированные тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей1
									li
										.c-add-block__content-type-subject
											input#shok_tizer.radio-custom(name='radio-group', type='checkbox', checked)
											label.radio-custom-label(for='shok_tizer')
												.c-add-block__content-type-subject-title
													b Показывать шок-тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей2
									li
										.c-add-block__content-type-subject
											input#new_tizer.radio-custom(name='radio-group', type='checkbox', checked)
											label.radio-custom-label(for='new_tizer')
												.c-add-block__content-type-subject-title
													b Показывать белвые новостные тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей3
								ul
									li
										.c-add-block__content-type-subject
											input#yellow_tizer.radio-custom(name='radio-group', type='checkbox')
											label.radio-custom-label(for='yellow_tizer')
												.c-add-block__content-type-subject-title
													b Показывать желтые новостные тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей1
									li
										.c-add-block__content-type-subject
											input#ex_tizer.radio-custom(name='radio-group', type='checkbox')
											label.radio-custom-label(for='ex_tizer')
												.c-add-block__content-type-subject-title
													b Показывать вызывающие тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей2
									li
										.c-add-block__content-type-subject
											input#18_tizer.radio-custom(name='radio-group', type='checkbox')
											label.radio-custom-label(for='18_tizer')
												.c-add-block__content-type-subject-title
													b Показывать 18+ тизеры
													span текст пояснения, он может в одну или две строчки, хватит для всего
												.c-add-block__content-type-tizer
													.c-add-block__content-type-tizer-img
														img(src="https://static.life.ru/news/2012/09/102250/180x180__980x.jpg", alt="")
													.c-add-block__content-type-tizer-desc
														span Попавшего в скандал Киркорова заподозрили в избиении детей3

					.c-add-block__section
						.c-add-block__section-title
							h4 Внешний вид блока
						.c-add-block__section-body
							.c-add-block__section-body-left
								.c-add-block__section-body-row
									.c-add-block__tizer-vert.c-add-block__input
										.c-filters
											.form-group__label
												span Тизеров по вертикали
											.form-group-wrap
												.form-group
													.input-wrap
														input.form-control.left(type='number', name='tizer-vert', placeholder='от 1 до 20 тизеров', value='1', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='2', min='1', max='20')
									.c-add-block__tizer-goriz.c-add-block__input
										.c-filters
											.form-group__label
												span Тизеров по горизонтали
											.form-group-wrap
												.form-group
													.input-wrap
														input.form-control.left(type='number', name='tizer-goriz', placeholder='от 1 до 20 тизеров', value='3', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='2', min='1', max='20')
								.c-add-block__section-body-row
									.c-add-block__border.c-add-block__radio
										.c-filters
											.form-group__label
												span Рамка у блока
											.form-group-wrap
												input#showborder.radio-group-input(type='radio', name='block-border', value='showborder', checked)
												label.radio-group-label(for='showborder') Показать
												input#hideborder.radio-group-input(type='radio', value='hideborder', name='block-border')
												label.radio-group-label(for='hideborder') Скрыть
									.c-add-block__border-kind.c-add-block__radio
										.c-filters
											.form-group__label
												span Вид рамки
											.form-group-wrap
												input#border-solid.radio-group-input(type='radio', name='border-kind', value='solid', checked)
												label.radio-group-label.border-solid-label(for='border-solid') ———
												input#border-dashed.radio-group-input(type='radio', value='dashed', name='border-kind')
												label.radio-group-label.border-dashed-label(for='border-dashed') - - - - - -
												input#border-dotted.radio-group-input(type='radio', value='dotted', name='border-kind')
												label.radio-group-label.border-dotted-label(for='border-dotted') . . . . . . .
							.c-add-block__section-body-right
								.c-add-block__section-body-row
									.c-add-block__bg-color.c-add-block__input.c-add-block__input-color
										.c-filters
											.form-group__label
												span Цвет фона
											.form-group-wrap
												.form-group
													.input-wrap
														input.form-control.left.minicolors(type='text', name='bg-color', placeholder='', value='#F1F1F1', required='required')
								.c-add-block__section-body-row
									.c-add-block__border-color.c-add-block__input.c-add-block__input-color
										.c-filters
											.form-group__label
												span Цвет рамки
											.form-group-wrap
												.form-group
													.input-wrap
														input.form-control.left.minicolors(type='text', name='border-color', placeholder='', value='#ff5050', required='required')
									.c-add-block__thickness.c-add-block__input.c-add-block__input-small
										.c-filters
											.form-group__label
												span Толщина
											.form-group-wrap
												.form-group
													.input-wrap
														input.form-control.left(type='number', name='border-thickness', placeholder='', value='3', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='2', min='1',max='10')
														.after-px px
					.c-add-block__section
						.c-add-block__section-title
							h4 Внешний вид тизера
						.c-add-block__section-body.flex-column
							.c-add-block__section-body-row
								.c-add-block__img-side-text.c-add-block__radio
									.c-filters
										.form-group__label
											span Расположение картинки относительно текста
										.form-group-wrap
											input#img-left.radio-group-input(type='radio', name='img-side-text', value='img-left', checked)
											label.radio-group-label.border-solid-label(for='img-left') Слева
											input#img-right.radio-group-input(type='radio', value='img-right', name='img-side-text')
											label.radio-group-label.border-dashed-label(for='img-right') Справа
											input#img-down.radio-group-input(type='radio', value='img-down', name='img-side-text')
											label.radio-group-label.border-dotted-label(for='img-down') Под текстом
											input#img-up.radio-group-input(type='radio', value='img-up', name='img-side-text')
											label.radio-group-label.border-dotted-label(for='img-up') Над текстом
								.c-add-block__text-aligment.c-add-block__radio.c-add-block__border-kind
									.c-filters
										.form-group__label
											span Выравнивание текста
										.form-group-wrap
											input#text-left.radio-group-input(type='radio', name='text-aligment', value='left', checked)
											label.radio-group-label.border-solid-label(for='text-left') Слева
											input#text-center.radio-group-input(type='radio', value='center', name='text-aligment')
											label.radio-group-label.border-dashed-label(for='text-center') Центр
											input#text-right.radio-group-input(type='radio', value='right', name='text-aligment')
											label.radio-group-label.border-dotted-label(for='text-right') Справа
							.c-add-block__section-body-row
								
								.c-add-block__proportions.c-add-block__radio
									.c-filters
										.form-group__label
											span Пропор. картинки
										.form-group-wrap
											input#1x1.radio-group-input(type='radio', name='proportions', value='1x1', checked)
											label.radio-group-label.border-solid-label(for='1x1') 1х1
											input#4x3.radio-group-input(type='radio', value='4x3', name='proportions')
											label.radio-group-label.border-dashed-label(for='4x3') 4х3
								.c-add-block__size.c-add-block__size--tizer.c-add-block__input
									.c-filters
										.form-group__label
											span Высота и ширина картинки
										.form-group-wrap
											.form-group
												.input-wrap
													input.form-control.left(type='number', name='tizer-height', placeholder='', value='120', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);",maxlength='3', min='50', max='200')
													.after-px px
											.form-group
												.input-wrap
													input.form-control.right(type='number', name='tizer-width', placeholder='', value='120', required='required',oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='3', min='50', max='200')
													.after-px px
								.c-add-block__text-size.c-add-block__input.c-add-block__input-small
									.c-filters
										.form-group__label
											span Размер текста
										.form-group-wrap
											.form-group
												.input-wrap
													input.form-control.left(type='number', name='text-size', placeholder='', value='16', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='2', min='9', max='30')
													.after-px px
							.c-add-block__section-body-row
								.c-add-block__show-hide-link.c-add-block__radio
									.c-filters
										.form-group__label
											span Ссылка «читать далее»
										.form-group-wrap
											input#show-link.radio-group-input(type='radio', name='show-hide-link', value='show-link', checked)
											label.radio-group-label(for='show-link') Показать
											input#hide-link.radio-group-input(type='radio', value='hide-link', name='show-hide-link')
											label.radio-group-label(for='hide-link') Скрыть
								.c-add-block__link-text.c-add-block__select
									.c-filters
										.form-group__label
											span Текст ссылки
										+select-block({
											name: 'link-text',
											custom_class: 'is-hover is-input',
											required: true,
											placeholder: 'Выберите или введите текст',
											list: [
												{
													txt: 'Читать далее',
													value: 'Читать далее'
												},
												{
													txt: 'Перейти',
													value: 'Перейти'
												}
											]
										})
								.c-add-block__link-color.c-add-block__input.c-add-block__input-color
									.c-filters
										.form-group__label
											span Цвет ссылки
										.form-group-wrap
											.form-group
												.input-wrap
													input.form-control.left.minicolors(type='text', name='link-color', placeholder='', value='#ff5050', required='required')
								.c-add-block__link-size.c-add-block__input.c-add-block__input-small
									.c-filters
										.form-group__label
											span Размер ссылки
										.form-group-wrap
											.form-group
												.input-wrap
													input.form-control.left(type='number', name='link-size', placeholder='', value='16', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='2', min='9', max='30')
													.after-px px
					.c-add-block__section.c-add-block__section--wide
						.c-add-block__preview.js-calculator
							.c-add-block__preview-title.c-add-block__section-title
								h4 Предварительный просмотр
							.c-add-block__section-body
								.c-add-block__section-body-left
									.c-add-block__section-body-row
										.c-add-block__value.c-add-block__select
											.c-filters
												.form-group__label
													span Величина
												+select-block({
													name: 'block-value',
													selectedValue: 'Проценты (%)',
													selectedInputValue: '%',
													custom_class: 'is-hover',
													required: true,
													placeholder: 'Выберите размер шрифта',
													list: [
														{
															txt: 'Пиксели (px)',
															value: 'px'
														},
														{
															txt: 'Проценты (%)',
															value: '%'
														}
													]
												})
										.c-add-block__size.c-add-block__input
											.c-filters
												.form-group__label
													span Высота и ширина
												.form-group-wrap
													.form-group
														.input-wrap
															input.form-control.left(type='number', name='block-height', placeholder='', value='100', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='3', min='60', max='999')
															.after-px.after-px-block 
													.form-group
														.input-wrap
															input.form-control.right(type='number', name='block-width', placeholder='', value='100', required='required', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", maxlength='3', min='120', max='999')
															.after-px.after-px-block 
							.c-add-block__preview-content
								//- .embed__place-wrap
								//- 	.embed__place-image
								//- 		img(src="javascript:void(0)", alt="")
								//- 	.embed__place-caption
								//- 		.embed__place-title
								//- 			span
								//- 		a.embed__place-link(href="javascript:void(0)")
					
					.c-add-block__section-btns
						button.active(type='submit') Сохранить
						button(type='submit') Сохранить и добавить еще одну