//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/c-modal/c-modal
include ../components/c-chat/c-chat

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Main'})
	body
		.l-wrapper
			+header()
			main
				block content
				+c-chat
			+footer()
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-1.10.2.js')
		script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.js')
		script(src=route.js + "main.js")