.c-news-item {
	padding-bottom: 54px;
	&__img {
		width: 1128px;
		height: 420px;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		&-wrap {
			height: 100%;
		}
	}
	&__desc {
		padding-top: 24px;
		p {
			font-family: Ubuntu;
			font-size: 17px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.65;
			letter-spacing: normal;
			color: #000000;
			letter-spacing: -0.17px;
		}
	}
	&__date {
		padding-top: 12px;
		span {
			opacity: 0.5;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #232930;
		}
	}
}