mixin c-news-item(data)
	.c-news-item
		.container
			.c-news-item__inner
				.c-news-item__img
					.c-news-item__img-wrap.h-object-fit
						img(src="http://altaynamore.ru/wp-content/uploads/2018/03/Enot.jpg", alt="")
				.c-news-item__desc
					p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития. Повседневная практика показывает, что укрепление и развитие структуры представляет собой интересный эксперимент проверки форм развития. Равным образом сложившаяся структура организации позволяет оценить значение новых предложений. Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.
				.c-news-item__date
					span 24 мая 2019