mixin c-add-first-block(data)
	.c-add-first-block
		.c-add-place
			.container
				.c-add-place__inner
					.c-add-place__img
						+svg("icon-new-place")
					.c-add-place__title
						h2 Добавьте свою первую площадку
					.c-add-place__desc
						span Чтобы начать работу с
							a(href="#")  ads
								b well
							|, вам необходимо добавить рекламный блок.
					.c-add-place__btn
						a(href="#").add_platforms
							+svg("icon-add")
							span Добавить рекламный блок