mixin c-profile(data)
	.c-profile
		.container
			.c-profile__inner.c-new-place
				form(action="")
					.row
						.c-profile__name
							.form-group-wrap
								.form-group__label
									span Имя
								.form-group
									.input-wrap
										input.form-control(type='text', name='username', placeholder='Ваше имя', value='Максим', required='required')
						.c-profile__email
							.form-group-wrap
								.form-group__label
									span E-mail
								.form-group-wrap
									.form-group
										.input-wrap
											input.form-control(type='email', name='email', placeholder='Ваш Email', value='username@gmail.com' readonly='readonly', required='required')
											svg.icon.icon-padlock(width='1em', height='1em')
												use(xlink:href='s/images/useful/svg/theme/symbol-defs.svg#icon-padlock')
					.row
						.c-profile__country
							.form-group-wrap.form-group-wrap--small 
								.form-group__label
									span Страна
								.form-group
									.input-wrap
										input.form-control(type='text', name='country', placeholder='Вашa страна', value='Россия', required='required')
						.c-profile__time-zone.c-filters
							.form-group-wrap.form-group-wrap--small
								.form-group__label
									span Часовой пояс
								+select-block({
									name: 'time-zone',
									selectedValue: 'UTC+3:00',
									placeholder: 'Выберите часовой пояс',
									custom_class: 'is-hover',
									list: [
										{
											txt: 'UTC+3:00'
										},
										{
											txt: 'UTC+4:00'
										},
										{
											txt: 'UTC+5:00'
										},
										{
											txt: 'UTC+6:00'
										},
										{
											txt: 'UTC+7:00'
										},

									]
								})
						.c-profile__soc
							.form-group-wrap.form-group-wrap--small
								.form-group__label
									span Telegram
								.form-group-wrap.form-group-wrap--small
									.form-group
										.input-wrap
											input.form-control(type='text', name='text', placeholder='Ваш Telegram', value='maxleming', required='required')
											svg.icon.icon-padlock(width='1em', height='1em')
												use(xlink:href='s/images/useful/svg/theme/symbol-defs.svg#icon-telegram')
						.c-profile__soc
							.form-group-wrap.form-group-wrap--small.form-group-wrap--no-margin
								.form-group__label
									span Skype
								.form-group-wrap.form-group-wrap--small.form-group-wrap--no-margin
									.form-group
										.input-wrap
											input.form-control(type='text', name='text', placeholder='Ваш Skype', value='username', required='required')
											svg.icon.icon-padlock(width='1em', height='1em')
												use(xlink:href='s/images/useful/svg/theme/symbol-defs.svg#icon-skype')
					.row
						.c-profile-paysystem
							.c-filters
								.form-group__label
									span Платежная система
								+select-block({
									name: 'pay-system',
									placeholder: 'Выберите Платежную систему',
									custom_class: 'is-hover',
									list: [
										{
											txt: 'Webmoney WMR ',
											subtxt: '(комиссия 1.2%)',
											img: true,
											subtext: true,
											img_link: 's/images/tmp_file/wmr.png'
										},
										{
											txt: 'Банковская карта РФ ',
											img: true,
											subtext: true,
											subtxt: '(комиссия 0.5%)',
											img_link: 's/images/tmp_file/credit-card.png'
										},
										{
											txt: 'Безналичный расчет',
											img: true,
											img_link: 's/images/tmp_file/beznal.svg'
										},
										{
											txt: 'Яндекс.Деньги',
											img: true,
											subtext: true,
											subtxt: '(комиссия 1.5%)',
											img_link: 's/images/tmp_file/yandex-m.png'
										},
										{
											txt: 'Qiwi ',
											img: true,
											subtext: true,
											subtxt: '(комиссия 1.5%)',
											img_link: 's/images/tmp_file/qiwi.png'
										},

									]
								})
						.c-profile-requisites
							.form-group-wrap
								.form-group__label
									span Номер счета / кошелька
								.form-group-wrap
									.form-group
										.input-wrap
											input.form-control(type='text', name='requisites', placeholder='Номер счета / кошелька', value='R1234567890123')
					.row
						.c-profile-alert
							b Внимание!
								span  Изменить платежные реквизиты можно будет только через службу поддержки.
					.row
						.c-profile__btns
							.c-profile__btn
								button(type='button', data-toggle='modal', data-target='#modal-mail').save Сохранить изменения
								button(type='button', data-toggle='modal', data-target='#modal-pass').change-pass Изменить пароль