.c-profile {
	&__inner {
		padding-left: 12px;
	}
	&__email {
		.icon-padlock {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			color: #879093;
		}
	}
	.form-group-wrap {
		margin-right: 24px;
		margin-bottom: 12px;
	}
	.form-group__label {
		padding-bottom: 8px;
}
	.form-group-wrap--small {
		width: 216px;
	}
	.form-group-wrap--no-margin {
		margin-right: 0;
	}
	&__time-zone {
		.select-block {
			width: 216px;
		}
	}
	&__soc {
		.icon {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
			color: #879093;
			font-size: 22px;
		}
		input.form-control {
			padding-left: 52px;
		}
	}
	&__btns {
		button {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: normal;
			text-align: center;
			transition: all 0.3s ease;
			width: 456px;
			height: 50px;
			border-radius: 4px;
			text-align: center;
			cursor: pointer;
		}
		.save {
			background-color: $blue;
			color: #fff;
			margin-right: 20px;
			&:hover{
				background-color: lighten($color: $blue, $amount: 10)
			}
		}
		.change-pass {
			border: solid 2px rgba(153, 163, 167, 0.25);
			color: #281f2b;
			&:hover{
				border: solid 2px $blue;
			}
		}
	}
	&-paysystem {
		width: 456px;
		margin-right: 24px;
		.select-block {
			width: 100%;
			.select-block__value-view img {
				margin-top: 13px;
			}
			button img {
				margin-left: -9px;
				margin-right: 9px;
				height: 20px;
    		width: 20px;
		}
		 img {
			margin-right: 10px;
	}
		}
		.form-group-wrap {
			margin-bottom: 0;
		}
	}
	&-requisites {
		.form-group-wrap {
			margin-bottom: 0;
		}
	}
	&-alert {
		b {
			font-size: 15px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0;
			color: #000000;
			font-weight: bold;
			span {
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0;
				color: #000000;
				font-weight: 400;
			}
		}
		padding-bottom: 24px;
		padding-top: 10px;
	}
}