.c-footer{
		background-color: #fff;
		padding: 14px 0;
		margin-top: 25px;
		z-index: 89;
		&__inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
		}
		&__logo {
			a{
				display: flex;
				align-items: center;
				svg {
					width: 97px;
    			height: 30px;
				}
				span {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: normal;
					letter-spacing: normal;
					color: #2c383a;
					padding-left: 6px;
				}
			}
		}
		&__links {
			ul {
				display: flex;
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					&:not(:last-child){
						margin-right: 21px;
					}
					a {
						font-family: Ubuntu;
						font-size: 15px;
						line-height: 2.13;
						letter-spacing: normal;
						color: #2c383a;
						transition: all 0.3s ease;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
}