mixin footer()
	.c-footer
		.container
			.c-footer__inner
				.c-footer__logo
					a(href="#") 
						+svg('icon-logo-dark')
						span © 2019
				.c-footer__links
					ul
						li
							a(href="#") Новости
						li
							a(href="#") Условия использования
						li
							a(href="#") Политика конфиденциальности
						li
							a(href="#") Cookie Policy
						li
							a(href="#") О проекте
