.c-chat {
	&__wrapper {
		position: fixed;
		bottom: 57px;
		right: -3px;
		width: 320px;
		z-index: 100000000000000000;
	}
	&__small {
		width: 320px;
		height: 70px;
		border-radius: 4px;
		background-color: #002750;
		display: flex;
		align-items: center;
		padding: 11px 16px;
		cursor: pointer;
		&-img {
			height: 48px;
			width: 48px;
			border-radius: 50%;
			&-wrap {
				height: 100%;
			}
		}
		&-text {
			padding-left: 12px;
			span {
				font-size: 17px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
			}
		}
	}
	&__middle {
		border-radius: 4px;
		box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
		display: none;
		&-head {
			display: flex;
			padding: 12px 16px;
			position: relative;
			background-color: #1595fc;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			&:after {
				height: 1px;
				opacity: 0.15;
				background-color: #ffffff;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				display: inline-block;
				z-index: 9999;
				position: absolute;
			}
			&-img {
				height: 48px;
				width: 48px;
				border-radius: 50%;
				&-wrapper {
					height: 100%;
				}
			}
			&-desc {
				position: relative;
				padding: 0 16px;
				padding-right: 50px;
				
				&-title {
					span {
						font-size: 14px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #ffffff;
					}
				}
				&-name {
					span {
						font-size: 18px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #ffffff;
					}
				}
			}
			&-close {
				padding-top: 5px;
				button {
					cursor: pointer;
				}
				.icon {
					font-size: 15px;
					color: #ffffff;
				}
			}
		}
		&-body {
			padding: 0 16px;
			padding-bottom: 16px;
			background-color: #1595fc;
		}
		&-contacts {
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				padding-top: 12px;
				li {
					display: flex;
					align-items: center;
					&:not(:last-child){
						margin-bottom: 8px;
					}
					.icon {
						color: #ffffff;
						margin-right: 10px;
					}
					span {
						font-size: 14px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #ffffff;
					}
				}
			}
		}
		&-footer {
			button {
				cursor: pointer;
				height: 42px;
				border-radius: 4px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				background-color: #002750;
				width: 100%;
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
			}
		}
	}
	&__big {
		padding: 0;
		display: none;
		box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
		&-body {
				padding: 10px 0;
				.js-all-contacts {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #ffffff;
					width: 100%;
					cursor: pointer;
			}
		}
		&-place-message {
			margin-bottom: 16px;
		}
		&-place-messages {
			height: 300px;
			// overflow: hidden;
			// overflow-y: scroll;
			background-color: #fff;
			padding: 16px;
			p {
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.4;
				letter-spacing: normal;
				color: #000000;
				margin: 0;
			}
		}
		&-place-message--operator {
			.c-chat__big-place-message-inner {
				width: 267px;
				border-radius: 4px;
				border: solid 1px #f0f1f1;
				background-color: #f0f1f1;
				padding: 10px 12px 12px 12px;
			}
		}
		&-place-message--client {
			.c-chat__big-place-message-inner {
				margin-left: auto;
				width: 267px;
				border-radius: 4px;
				border: solid 1px #f0f1f1;
				background-color: #e3eefc;
				padding: 10px 12px 12px 12px;
			}
		}
		&-place-input {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 1px;
				opacity: 0.15;
				background-color: #879093;
			}
			input {
				width: 100%;
				border: none;
				height: 50px;
				padding-left: 21px;
				padding-right: 50px;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
			input::placeholder {
				opacity: 0.35;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
			button{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 16px;
				cursor: pointer;
				&:hover {
					.icon {
						color: $blue;
					}
				}
				.icon {
					color: #879093;
					width: 20px;
					height: 18px;
					transition: all 0.3s ease;
				}
			}
		}
	}

}