mixin c-chat(data)
	.c-chat
		.c-chat__wrapper
			.c-chat__small
				.c-chat__small-img
					.c-chat__small-img-wrap.h-object-fit
						img(src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png", alt="")
				.c-chat__small-text
					span Ваш личный менеджер
			.c-chat__middle
				.c-chat__middle-head
					.c-chat__middle-head-img
						.c-chat__middle-head-img-wrapper
							img(src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png", alt="")
					.c-chat__middle-head-desc
						.c-chat__middle-head-desc-title
							span Ваш личный менеджер
						.c-chat__middle-head-desc-name
							span Анатоль Сидоров
					.c-chat__middle-head-close
						button(type="button")
							+svg("icon-cancel")
				.c-chat__middle-body
					.c-chat__middle-contacts
						ul
							li
								+svg("icon-mail")
								span anatol.sidorov@teaserable.com
							li
								+svg("icon-telegram-clear")
								span anatol.sidorov@teaserable.com
							li
								+svg("icon-skype-clear")
								span anatol.sidorov@teaserable.com
							li
								span Время работы с 10:00 до 21:00
				.c-chat__middle-footer
					button(type="button").js-close-middle Вернуться к чату
			.c-chat__big
				.c-chat__middle-head
					.c-chat__middle-head-img
						.c-chat__middle-head-img-wrapper
							img(src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png", alt="")
					.c-chat__middle-head-desc
						.c-chat__middle-head-desc-title
							span Ваш личный менеджер
						.c-chat__middle-head-desc-name
							span Анатоль Сидоров
					.c-chat__middle-head-close
						button(type="button")
							+svg("icon-cancel")
				.c-chat__big-body.c-chat__middle-body
					button.js-all-contacts Все контакты менеджера
				.c-chat__big-place
					.c-chat__big-place-messages
						.c-chat__big-place-message.c-chat__big-place-message--operator
							.c-chat__big-place-message-inner
								p Добрый день. Мое имя Ксения и я ваш личный менеджер. У вас есть какие-нибудь вопросы ко мне?
						.c-chat__big-place-message.c-chat__big-place-message--client
							.c-chat__big-place-message-inner
								p Здравствуйте. Да! Как мне пополнить баланс?
					.c-chat__big-place-input
						input(type="text", placeholder="Напишите сообщение")
						button(type="submit")
							+svg("icon-send")
