extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-table/c-table
include _includes/components/c-pagination/c-pagination

block head
	+head({'title':'1_1'})

block content
	//- .loader-full#preloader
	//- 	+svg('icon-loader')
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				active: true,
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Список площадок',
		platforms_btns: true,
	})
	+c-filters()
	.container
		.loader
			+svg('icon-loader')
		+c-table({
			bottom_btns: false,
		})
		+c-pagination({
			full_pagination: true
		})