extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-ad-block-list/c-ad-block-list
include _includes/components/c-pagination/c-pagination
include _includes/components/c-table/c-table
include _includes/components/c-modal-clipboard/c-modal-clipboard

block head
	+head({'title':'200_1'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки'
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки',
				active: true
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Список рекламных блоков',
		platforms_btns_block: true,
	})
	+c-filters-ad-block()
	+c-ad-block-list({
		bottom_btns: true,
		bottom_select: true
	})
	+c-pagination({
		full_pagination: true
	})
	+c-modal-clipboard()