extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-archive/c-archive
include _includes/components/c-modal/c-modal

block head
	+head({'title':'201'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки'
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки',
				active: true
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Архив рекламных блоков',
		archive_btn_block: true,
	})
	+c-archive({
		c_archive_blocks: true,
		custom_class: 'archive-blocks'
	})
	+c-modal({
		modal_text: 'Вы уверен, что хотите восстановить (2) выбранных блока?',
	})