extends _includes/_extends/main
include _includes/components/c-menu/c-menu 
include _includes/components/c-archive-block/c-archive-block


block head
	+head({'title':'201_1'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки'
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки',
				active: true,
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-archive-block()