extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-stats/c-stats
include _includes/components/c-pagination/c-pagination


block head
	+head({'title':'300'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки'
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика',
				active: true,
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Статистика',
		platforms_btns_block: false,
	})
	+c-stats()
	+c-pagination({
		no_lefta_pagination: true,
		custom_class: 'stats-pagination'
	})
