extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-finances/c-finances
include _includes/components/c-pagination/c-pagination


block head
	+head({'title':'301_edit'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки'
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы',
				active: true,
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Финансы',
		platforms_btns_block: false,
		custom_class: 'c-finances-title'
	})
	+c-finances({
		error_input: true,
		withdrawal__uncheck: true,
	})
	+c-pagination({
		no_lefta_pagination: true,
		custom_class: 'stats-pagination'
	})
