extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-filters/c-filters
include _includes/components/c-profile/c-profile
include _includes/components/c-modal-settings/c-modal-settings


block head
	+head({'title':'303'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль',
				active: true
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка',
				
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Профиль',
		platforms_btns: false,
		news_link: false,
		custom_class: 'profile-title'
	})
	+c-profile()
	+c-modal-settings()