extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-news/c-news
include _includes/components/c-pagination/c-pagination


block head
	+head({'title':'400'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости',
				active: true,
			}
		]
	})
	+c-title({
		title: 'Новости',
		platforms_btns: false
	})
	+c-news()
	+c-pagination({
		no_lefta_pagination: true,
	})