extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-news-item/c-news-item


block head
	+head({'title':'401'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости',
				active: true,
			}
		]
	})
	+c-title({
		title: 'Новое обновление платформы от 24 мая',
		platforms_btns: false,
		news_link: true,
		news_link_txt: 'Вернуться к списку новостей',
		custom_class: 'news-item-title'
	})
	+c-news-item()