extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-title/c-title
include _includes/components/c-reference/c-reference


block head
	+head({'title':'402'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка',
				active: true
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-title({
		title: 'Справка',
		platforms_btns: false,
		news_link: false,
		custom_class: 'reference-title'
	})
	+c-reference()