extends _includes/_extends/main
include _includes/components/c-menu/c-menu
include _includes/components/c-new-place/c-new-place
include _includes/components/c-title/c-title
include _includes/components/c-forms/c-forms
include _includes/components/c-filters/c-filters


block head
	+head({'title':'6_1'})

block content
	+c-menu({
		menu: [
			{
				link: '#',
				svg:'icon-platforms',
				text: 'Мои площадки',
				active: true,
			},
			{
				link: '#',
				svg:'icon-blocks',
				text: 'Блоки'
			},
			{
				link: '#',
				svg:'icon-stats',
				text: 'Статистика'
			},
			{
				link: '#',
				svg:'icon-finances',
				text: 'Финансы'
			},
			{
				link: '#',
				svg:'icon-profile',
				text: 'Профиль'
			},
			{
				link: '#',
				svg:'icon-info',
				text: 'Справка'
			},
			{
				link: '#',
				svg:'icon-newspaper',
				text: 'Новости'
			}
		]
	})
	+c-new-place({
		rejected_place: true,
		title_edit_place: true,
		place_edit: true,
	})