doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
		meta(content='width=device-width', name='viewport')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap', rel='stylesheet')

		style.
			body {
			width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;
			}
			.ExternalClass {
			width: 100%;
			}
			.ExternalClass {
			line-height: 100%;
			}
			#backgroundTable {
			margin: 0; padding: 0; width: 100% !important; line-height: 100% !important;
			}
			img {
			outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;
			}
			body {
			background-color: #ffffff; background-repeat: repeat; background-position: center top;
			}
			body {
			color: #717e7f; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 14px; padding: 0; margin: 0; text-align: left; line-height: 1.5;
			}
			a:hover {
			color: #2795b6;
			}
			a:active {
			color: #2795b6;
			}
			a:visited {
			color: #2ba6cb;
			}
			h1 a:active {
			color: #2ba6cb !important;
			}
			h2 a:active {
			color: #2ba6cb !important;
			}
			h3 a:active {
			color: #2ba6cb !important;
			}
			h4 a:active {
			color: #2ba6cb !important;
			}
			h5 a:active {
			color: #2ba6cb !important;
			}
			h6 a:active {
			color: #2ba6cb !important;
			}
			h1 a:visited {
			color: #2ba6cb !important;
			}
			h2 a:visited {
			color: #2ba6cb !important;
			}
			h3 a:visited {
			color: #2ba6cb !important;
			}
			h4 a:visited {
			color: #2ba6cb !important;
			}
			h5 a:visited {
			color: #2ba6cb !important;
			}
			h6 a:visited {
			color: #2ba6cb !important;
			}
			table.secondary:hover td {
			background: #d0d0d0 !important; color: #555555;
			}
			table.secondary:hover td a {
			color: #555555 !important;
			}
			table.secondary td a:visited {
			color: #555555 !important;
			}
			table.secondary:active td a {
			color: #555555 !important;
			}
			table.success:hover td {
			background: #457a1a !important;
			}
			table.alert:hover td {
			background: #970b0e !important;
			}
			body.outlook p {
			display: inline !important;
			}
	body(style='width: 100%; min-width: 100%; max-width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.5; background: #ffffff repeat center top; margin: 0; padding: 0;', bgcolor='#ffffff')
		table(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; max-width: 600px !important; line-height: 1.5; background: #ffffff repeat center top; margin: 0 auto; padding: 0; width: 100% !important;' , bgcolor='#ffffff')
			tbody
				tr
					td
						table(align='center',style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; max-width: 600px !important; font-size: 14px; line-height: 1.5; background: #ffffff repeat center top; margin-right: auto; padding: 0;' , bgcolor='#ffffff')
							tbody
								tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
									td.center(align='center', valign='top', style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;')
										center(align='center', style='min-width: 600px;')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width:100%; max-width: 600px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0; ', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: #f5f8fc repeat center top; padding: 0px;', bgcolor='#f5f8fc')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 5px 20px 0px 8px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0; height: 49px;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							//if mso
																								table(align='left', style='border-collapse: collapse; border-spacing: 0; overflow: hidden; border: 0; width: 100%;')
																									tbody
																										tr
																											td(style='padding: 10px 0px 0px 20px;')
																												img(src='http://ru.msndr.net/media/W1siZiIsIjIwMTkvMDYvMTMvN2NkcW5jcmgwb19fMy5wbmciXSxbInAiLCJ0aHVtYiIsIjYwMHhcdTAwM2UiXV0/24617667b1abefb4/%D0%A0%D0%B5%D1%81%D1%83%D1%80%D1%81%203.png', width='78')
																							// [if !mso] <!
																							div(align='left')
																								img.left(alt='%D0%A0%D0%B5%D1%81%D1%83%D1%80%D1%81%203',  src='s/images/tmp_file/group-11.svg', style=' outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;  float: left; clear: both; display: block; padding: 7px 0px 0px 17px;',  align='left')
																							// <![endif]
																							// [endif]--
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
																		td.wrapper.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 10px 0px 0px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.button(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: center; width: auto !important; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: initial !important; display: block; margin: 0; padding: 6px 0px 0px 126px; height: 18px;', align='center', valign='top')
																											//if mso
																												p(style='line-height:0;margin:0;')  
																												v:roundrect(arcsize='0%', fill='t', fillcolor='', href='', stroke='f', strokecolor='', style='v-text-anchor:middle;width:210px;height:32px;', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word')
																													v:fill(color='', src='http://ru.msndr.net/media/W1siZiIsIjIwMTkvMDYvMjAvMjVjdjk2cW9wbV9lbnRlci5wbmciXSxbInAiLCJ0aHVtYiIsIjEwMDB4XHUwMDNlIl1d/4d2e7a8d2ccdc4be/enter.png', type='title')
																													w:anchorlock
																														center(style='color: #19bfe0; font-family:sans-serif; font-size:13px; font-weight:bold; mso-line-height-rule:exactly; mso-text-raise:4px')
																															| Войти в кабинет
																											// [if !mso] <!
																											a(href='#', style="color: #05abe9 !important; width: auto; display: block; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; text-decoration: none; font-weight: bold; font-family: Ubuntu, Arial, sans-serif; font-size: 15px; height: 100%; background: url('http://ru.msndr.net/media/W1siZiIsIjIwMTkvMDYvMjAvMjVjdjk2cW9wbV9lbnRlci5wbmciXSxbInAiLCJ0aHVtYiIsIjEwMDB4XHUwMDNlIl1d/4d2e7a8d2ccdc4be/enter.png') no-repeat left center; padding: 0 0 0  15px;") Войти в кабинет
																											// <![endif]
																											// [endif]--
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 21px 0px 0px;', align='left', valign='top')
																			table.twelve.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 552px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 1px;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left')
																												span(style='font-size: 17px;', data-mce-style='font-size: 17px;')
																													strong Добрый день, 
																													strong Милорд!
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 0;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.6; margin: 0; padding: 0;', align='left')
																												| Очевидно, что лексика изящно притягивает мифологический абстракционизм. Женское окончание вразнобой вызывает сюжетный подтекст. Существующая орфографическая символика никак не приспособлена для задач письменного воспроизведения смысловых нюансов устной речи, однако
																												strong  ударение просветляет символ.
																												|  Верлибр диссонирует одиннадцатисложник.
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.6; margin: 0; padding: 0;', align='left')
																												| Похоже, что самого Бахтина удивила эта всеобщая порабощенность тайной "чужого" слова, тем не менее
																												a(href="",style='color: #05abe9 !important;')  речевой акт  
																												| выбирает экзистенциальный образ. Лексика, если уловить хореический ритм или аллитерацию на "р", вызывает поэтический верлибр.
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 6px 2px 0px 0px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 0px 0px 5px;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0; padding: 0;', align='left') Это первая колонка с какой-то полезной информацией
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
																		td.wrapper.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 6px 0px 0px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0; padding: 0;', align='left') А это вторая колонка с не менее полезной информацией
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px;', align='left', valign='top')
																			table.twelve.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 552px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 7px 0px 10px;', align='left', valign='top')
																							//if mso
																								table(align='center', style='border-collapse: collapse; border-spacing: 0; overflow: hidden; border: 0; width: 100%;')
																									tbody
																										tr
																											td(style='padding: 0px 0px 0px 0px;')
																												img(src='http://ru.msndr.net/media/W1siZiIsIjIwMTkvMDYvMjAvN25iM2tmNXdvd19fOTExeDUxMl81NTJ4MzEwLmpwZyJdLFsicCIsInRodW1iIiwiNjAweFx1MDAzZSJdXQ/4c1253ce7345f41c/%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D1%8B-911x512-552x310.jpg', width='552')
																							// [if !mso] <!
																							div(align='center')
																								img.center(alt='%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D1%8B-911x512-552x310', height='310', src='http://ru.msndr.net/media/W1siZiIsIjIwMTkvMDYvMjAvN25iM2tmNXdvd19fOTExeDUxMl81NTJ4MzEwLmpwZyJdLFsicCIsInRodW1iIiwiNjAweFx1MDAzZSJdXQ/4c1253ce7345f41c/%D0%B1%D1%80%D0%B0%D1%83%D0%B7%D0%B5%D1%80%D1%8B-911x512-552x310.jpg', style='width: 552px; height: 310px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 552px; float: none; clear: both; display: block; margin: 0 auto; padding: 0px;', width='552', align='none')
																							// <![endif]
																							// [endif]--
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 10px 0px 0px;', align='left', valign='top')
																			table.twelve.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 552px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.6; margin: 0; padding: 0;', align='left')
																												| Синхрония осознаёт реформаторский пафос. Писатель-модернист, с характерологической точки, зрения практически всегда является шизоидом или полифоническим мозаиком, следовательно хорей приводит реформаторский пафос.
																							table.table-full(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: transparent repeat center center; padding: 0;', width='100%', bgcolor='transparent')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 17px 0px 0px 0px;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #879093; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 8px; padding: 0;', align='left') Столбец #1
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																										td(height='%', style='width: 22.586206896551722% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 17px 0px 0px 0px;', width='22.586206896551722%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #879093; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 8px; padding: 0;', align='left') Столбец #2
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a;font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 17px 0px 0px 0px;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #879093; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 8px; padding: 0;', align='left') Столбец #3
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 17px 0px 0px 0px;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #879093; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 8px; padding: 0;', align='left') Столбец #4
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 17px 0px 0px 0px;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: color: #879093; font-family: uBUNTU, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 8px; padding: 0;', align='left') Столбец #5
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																											hr(style='color: #d9d9d9; background-color: #d9d9d9; height: 1px; border: none; margin: 0px;')
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0;padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																										td(height='%', style='width: 21% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='21%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																										td(height='%', style='width: 20.17241379310345% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='20.17241379310345%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																										td(height='%', style='width: 17.93103448275862% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='17.93103448275862%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																										td(height='%', style='width: 22.517241379310338% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='22.517241379310338%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 8px 1px 0px 1px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 7px; padding: 0;', align='left') Данные
																							table.button(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: center; width: auto !important; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: initial !important; display: block; margin: 0; padding: 18px 0px 0px;', align='center', valign='top')
																											//if mso
																												p(style='line-height:0;margin:0;')  
																												v:roundrect(arcsize='0%', fill='t', fillcolor='#2ba6cb', href='', stroke='f', strokecolor='', style='v-text-anchor:middle;width:552px;height:36px;', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word')
																													w:anchorlock
																														center(style='color: #FFF; font-family:sans-serif; font-size:13px; font-weight:bold; mso-line-height-rule:exactly; mso-text-raise:4px')
																															| Получить беспалтные 30 дней
																											// [if !mso] <!
																											a(href='', style='width: auto; display: block; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; color: #ffffff !important; text-decoration: none; font-weight: normal; font-family: Ubuntu, Arial, sans-serif; font-size: 17px; height: 100%; background: #1595fc repeat center center; padding: 16px 10px; border-radius: 4px;') Получить бесплатные 30 дней
																											// <![endif]
																											// [endif]--
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 16px 0px 0px;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: bold; font-size: 15px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left') С уважением, команда adswell.
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 3px 20px 0px 0px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 10px 16px 0px;', align='left', valign='top')
																											a(href='#', target='_blank' , style='padding-right: 8px; text-decoration: none; color: #2ba6cb; display: inline-block;')
																												img(alt='', src='https://i.ibb.co/QkRrpt6/vk.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 280px; float: inherit; clear: both; display: inline; border: none;', align='inherit')
																												//if mso
																											a(href='#', target='_blank' ,style='padding-right: 11px; text-decoration: none; color: #2ba6cb; display: inline-block;')
																												img(alt='', src='https://i.ibb.co/PjWc44Y/fb.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 280px; float: inherit; clear: both; display: inline; border: none;', align='inherit')
																												//if mso
																											a(href='#', target='_blank' , style='padding-right: 12px; text-decoration: none; color: #2ba6cb; display: inline-block;')
																												img(alt='', src='https://i.ibb.co/VTT95Pg/yt.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 280px; float: inherit; clear: both; display: inline; border: none;', align='inherit')
																												//if mso
																											a(href='#', target='_blank' , style='padding-right: 0px; text-decoration: none; color: #2ba6cb; display: inline-block;')
																												img(alt='', src='https://i.ibb.co/L8fQCPZ/inst.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 280px; float: inherit; clear: both; display: inline; border: none;', align='inherit')
																												//if mso
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
																		td.wrapper.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 10px 0px 0px;', align='left', valign='top')
																			table.six.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 14px;', align='left', bgcolor='transparent', valign='top')
																											p(style='color: #000000; font-family: Ubuntu, Arial, sans-serif; font-weight: bold; font-size: 15px; text-align: left; line-height: 1.5; margin: 0px; padding: 0;text-align: right;', align='left') +7 800 123-45-67
																							table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5;  text-align: right; background: transparent repeat center center; margin: 0; padding: 0px 14px;', align='left', bgcolor='transparent', valign='top')
																											a(href="#" , style='color: #000000 !important;  text-decoration: none; font-family: Ubuntu, Arial, sans-serif; font-weight: bold; font-size: 15px; text-align: left; line-height: 1.5; margin: 0px; padding: 0 ; text-align: right;', align='left') support@adswell.com
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
											table.container(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; max-width: 552px; margin: 0 auto; padding: 0;')
												tbody
													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
															table.row(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: transparent repeat center top; padding: 0px;', bgcolor='transparent')
																tbody
																	tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																		td.wrapper.first.last(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 10px 0px 0px;', align='left', valign='top')
																			table.twelve.columns(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 552px; margin: 0 auto; padding: 0;')
																				tbody
																					tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																						td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #717e7f; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; margin: 0; padding: 0px 0px 10px;', align='left', valign='top')
																							table.table-full(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; background: transparent repeat center center; padding: 0;', width='100%', bgcolor='transparent')
																								tbody
																									tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																										td(height='%', style='width: 31% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='31%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 10px 0px 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left')
																																span(style='font-size: 13px;', data-mce-style='font-size: 13px;')
																																	a(href='%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B8', data-mce-href='Название ссылки', data-mce-selected='1', style='color: #2c383a !important; opacity: 0.5; text-decoration: none;') Отписаться от рассылки
																										td(height='%', style='width: 23.448275862068964% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='23.448275862068964%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 10px 0px 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left')
																																a(href='%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B8', data-mce-href='Название ссылки', style='color: #2c383a !important; opacity: 0.5; text-decoration: none;') Название ссылки
																										td(height='%', style='width: 22.24137931034483% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='22.24137931034483%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px 10px 0px 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left')
																																a(href='%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%81%D1%81%D1%8B%D0%BB%D0%BA%D0%B8', data-mce-href='Название ссылки', style='color: #2c383a !important; opacity: 0.5; text-decoration: none;') Название ссылки
																										td(height='%', style='width: 4971.068965517241% !important; height: % !important; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: repeat center top; margin: 0; padding: 0;', width='4971.068965517241%', align='left', valign='top')
																											table.table-block(width='100%', style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;')
																												tbody
																													tr(style='vertical-align: top; text-align: left; padding: 0;', align='left')
																														td(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; background: transparent repeat center center; margin: 0; padding: 0px;', align='left', bgcolor='transparent', valign='top')
																															p(style='color: #2c383a; font-family: Ubuntu, Arial, sans-serif; font-weight: normal; font-size: 13px; text-align: left; line-height: 1.5; margin: 0 0 10px; padding: 0;', align='left')
																																a(href='dfgdfgdfg', data-mce-href='dfgdfgdfg', style='color: #2c383a !important; opacity: 0.5; text-decoration: none;') Название ссылки
																						td.expander(style='word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; vertical-align: top; text-align: left; width: 100%; visibility: hidden; color: #2c383a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.5; margin: 0; padding: 0;', align='left', valign='top')
