extends _includes/_extends/main
include _includes/components/c-pagination/c-pagination

block head
	+head({'title':'UI'})

block content
	+c-pagination({
		full_pagination: true
	})
	+c-pagination({
		no_lefta_pagination: true
	})
	+c-pagination({
		no_righta_pagination: true
	})
	+c-pagination({
		small_pagination: true
	})