button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.btn{
    display: inline-block;
    height: 51px;
    border-radius: 11px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 28px;
    border: 1px solid transparent;
    background-color: transparent;
    color: inherit;
    transition: all 300ms ease;
    &:hover{
        
        // border-color: @White40;
        // background-color: @White80;
        // color: @CapeCod;
    }
    &:focus,
    &:active{
        // border-color: @White40;
        // background-color: @Concrete;
        // color: @CapeCod;
    }
    // colors
    &_white{
    }
    // states
    // a&{
    //     text-decoration: none;
    // }
    &_icon{
    }
    // sizes
    &_md{
    }
    &_sm{
    }
    &_xs{
    }
}


.add_platforms, .link_archive, .return_platforms {
	border: solid 2px rgba(153, 163, 167, 0.25);
	transition: all 0.3s ease;
	align-items: center;
	padding: 12px 18px;
	border-radius: 4px;
	display: flex;
	&:hover {
		border: solid 2px $blue;
	}

	span {
		letter-spacing: normal;
		font-family: Ubuntu;
		padding-left: 15px;
		color: #2c383a;
		font-weight: 500;
		font-size: 15px;
	}
	svg {
		font-size: 24px;
		color: $blue;
	}
}
.restore {
	border: solid 2px rgba(153, 163, 167, 0.25);
	transition: all 0.3s ease;
  letter-spacing: normal;
	display: inline-block;
  line-height: normal;
	font-family: Ubuntu;
  border-radius: 4px;
  text-align: center;
	color: #2c383a;
  font-weight: 500;
	min-width: 140px;
	cursor: pointer;
  font-size: 14px;
	height: 36px;
	&:hover {
		border: solid 2px $blue;
	}
}

.btn-yes {
	font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	min-width: 127px;
  height: 50px;
  border-radius: 4px;
	background-color: #1595fc;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-right: 10px;
	&:hover {
		background-color: lighten($color: #1595fc, $amount: 5%);
	}
}
.btn-no {
	font-family: Ubuntu;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
	color:  #2c383a;
	display: inline-block;
	text-align: center;
	min-width: 104px;
  height: 50px;
  border-radius: 4px;
	border: solid 2px rgba(153, 163, 167, 0.25);
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		border: solid 2px $blue;
	}
}

.clear_filter {
  height: 52px;
  border-radius: 4px;
	border: solid 2px rgba(153, 163, 167, 0.25);
	display: flex;
	align-items: center;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	transition: all 0.3s ease;
	&:hover {
		border: solid 2px $blue;
	}
	span {
		font-family: Ubuntu;
		font-size: 15px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 50px;
		letter-spacing: normal;
		color: #2c383a;
	}
	svg {
		font-size: 23px;
		color: $blue;
		margin-right: 15px;
	}
}
