.c-filters {
	&__input-row {
		display: flex;
		.form-group-wrap {
			margin-right: 5px;
		}
	}
	.select-block{
		position: relative;
		min-width: 98px;
		width: 264px;
		height: auto;

		&:not(:last-child) {
			margin-right: 5px;
		}
		&:not(.active) {
			.select-block__list {
				pointer-events: none;
			}
		}
		input {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
		}
		&.active{
			background-color: $white;
			.select-block__list{
				visibility: visible;
				opacity: 1;
			}
			.select-block__svg {
				.icon-arrow {
					transform: rotate(-90deg);
					path {
						opacity: 1;
					}
				}
			}
		}
		&.is-chiose{
			.select-block__placeholder{
				display: none;
			}
		}
		&___tags {
			max-width: 456px;
			padding-top: 8px;
			ul {
				list-style-type: none;
				align-items: center;
				padding-top: 8px;
				flex-wrap: wrap;
				display: flex;
				padding: 0;
				margin: 0;
				li {
					border: solid 1px rgba(21, 149, 252, 0.5);
					align-items: center;
					padding-left: 10px;
					border-radius: 4px;
					margin-bottom: 8px;
					margin-right: 8px;
					min-height: 30px;
					display: flex;
					span {
						letter-spacing: normal;
						white-space: pre-wrap;
						font-stretch: normal;
						font-weight: normal;
						font-family: Ubuntu;
						font-style: normal;
						line-height: 30px;
						color: #000000;
						font-size: 15px;
					}
					button {
						cursor: pointer;
						padding: 0 6px;
					}
				}
			}
		}
	}
	.select-block.disabled {
		button {
			pointer-events: none;
		}
		.select-block__placeholder {
			opacity: 0.35;
		}
	}
	.select-block__content{
		position: relative;
		height: 100%;
		>button{
			border: solid 1px rgba(44, 56, 58, 0.07);
			text-overflow: ellipsis;
			letter-spacing: normal;
			background: #ffffff;
			padding-right: 36px;
			white-space: nowrap;
			border-radius: 8px;
			border-radius: 4px;
			position: relative;
			padding-left: 20px;
			line-height: 50px;
			overflow: hidden;
			font-weight: 500;
			text-align: left;
			cursor: pointer;
			color: $black;
			height: 50px;
			width: 100%;
			.select-block__placeholder{
				padding-right: 35px !important;
				text-overflow: ellipsis;
				font-family: 'Ubuntu';
				letter-spacing: 0.5px;
				white-space: nowrap;
				position: absolute;
				padding-left: 20px;
				line-height: 50px;
				overflow: hidden;
				font-weight: 400;
				font-size: 14px;
				opacity: 0.35;
				height: 100%;
				right: 0;
				left: 0;
				top: 0;
			}
			.select-block__value-view{
				text-overflow: ellipsis;
				font-family: 'Ubuntu';
				white-space: nowrap;
				line-height: 50px;
				font-weight: 400;
				font-size: 15px;
				color: $black;
				display: flex;
				span {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
			.select-block__svg {
				align-items: center;
				position: absolute;
				display: flex;
				height: 100%;
				right: 20px;
				top: 0;
				.icon-arrow {
					transition: all 0.3s ease;
					color: #879093;
				}
			}
			img {
				margin-left: -9px;
				margin-right: 9px;
			}
		}
	}
	.select-block__list{
		box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
		background-color: $white;
		box-sizing: border-box;
		position: absolute;
		visibility: hidden;
		z-index: 999999999;
		border-radius: 4px;
		opacity: 0;
		right: 0;
		left: 0;
		top: 0;
		ul{
			li{
				position: relative;
				display: flex;
				&:before {
					transition: all 0.3s ease;
					background-color: $blue;
					position: absolute;
					visibility: hidden;
					content: '';
					width: 6px;
					opacity: 0;
					bottom: 0;
					left: 0;
					top: 0;
				}
				
				.select-block__svg {
					transform: translateY(-50%);
					position: absolute;
					right: 7.5px;
					top: 50%;
					svg {
						color: #7a8285;
						opacity: 0.5;
					}
				}
				a{
					text-overflow: ellipsis;
					text-decoration: none;
					white-space: nowrap;
					font-family: Ubuntu;
					white-space: nowrap;
					position: relative;
					font-style: normal;
					letter-spacing: 0;
					line-height: 48px;
					text-align: left;
					color: #2c383a;
					font-weight: 400;
					overflow: hidden;
					padding: 0 20px;
					font-size: 15px;
					display: block;
					height: 48px;
					width: 100%;
					margin: 0;
					span {
						text-overflow: ellipsis;
						white-space: nowrap;
						color: $black;
					}
				}
			}
			li.has-children:hover > .select-block__list
				 {
					 visibility: visible;
					 position: absolute;
					 opacity: 1;
			}
			li.has-children:hover > .select-block__svg{
					svg {
						color: $blue;
						opacity: 1;
					}
				}
			li.has-children {
				.select-block__list { 
					box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
					background-color: #ffffff;
					visibility: hidden;
					border-radius: 4px;
					width: 100%;
					opacity: 0;
					left: 100%;
					top: 0;
				}
			}
		}
	}
	&__search {
		width: 100%;
		height: 50px;
		border-radius: 4px;
		border: solid 1px rgba(44, 56, 58, 0.07);
		background-color: #ffffff;
		position: relative;
		input {
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 4px;
			padding-left: 55px;
			padding-right: 20px;
			&:focus {
				outline: none;
			}
		}
		input::-webkit-input-placeholder {
			font-family: Ubuntu;
			font-size: 15px;
			color: $black;
			letter-spacing: normal;
			opacity: 0.35;
		}
		button {
			position: absolute;
			left: 20px;
			top: 14px;
			display: inline-block;
			cursor: pointer;
			svg {
				opacity: 0.5;
				font-size: 20px;
				color: #879093;
			}
		}
	}
	&__clear-btn-row {
		padding-top: 11px;
		display: flex;
		justify-content: flex-end;
		button {
			cursor: pointer;
			display: flex;
			align-items: center;
			svg {
				color: #1595FC;
			}
			span {
				font-family: Ubuntu;
				color: $blue;
				font-size: 15px;
				letter-spacing: normal;
				padding-left: 8px;
			}
		}
	}
	.is-hover .select-block__list ul li{
		transition: all 0.3s ease;
		position: relative;
		display: flex;
		&:before {
			transition: all 0.3s ease;
			background-color: $blue;
			position: absolute;
			visibility: hidden;
			content: '';
			width: 6px;
			opacity: 0;
			bottom: 0;
			left: 0;
			top: 0;
		}
		&:hover {
			background-color: rgba(21, 149, 252, 0.1);
			color: #2c383a;
			> a{
				color: #2c383a;
				span {
					color: #2c383a;
				}
		}
		&:before {
			visibility: visible;
			opacity: 1;
		}
		}
		.select-block__svg {
			transform: translateY(-50%);
			position: absolute;
			right: 7.5px;
			top: 50%;
			svg {
				color: #7a8285;
				opacity: 0.5;
			}
		}
		a{
			text-decoration: none;
			font-family: Ubuntu;
			white-space: nowrap;
			position: relative;
			font-style: normal;
			line-height: 48px;
			letter-spacing: 0;
			text-align: left;
			color: #2c383a;
			font-weight: 400;
			padding: 0 20px;
			font-size: 15px;
			display: block;
			height: 48px;
			width: 100%;
			margin: 0;
			span {
				color: $black;
			}
		}
	}
}


.is-wide {
	.select-block__list ul li.has-children .select-block__list {
    width: 260px;
	}
}
.no-arrow {
	width: 229px !important;
	.select-block__svg {
		display: none !important;
	}
}


.select-block .subtxt {
	color: rgba(0, 0, 0, 0.5) !important;
	padding-left: 7px;
}