mixin select-block-list(list, checkbox)
	.select-block__list
		ul.h-reset-list
			each item in list
				- var item_id = idIndexIncrementor()
				- var itemClass = item.customClass ? item.customClass : ''
				- itemClass += item.active ? ' is-active' : ''
				- itemClass += item.list ? ' has-children' : ''
				li(class=itemClass)
					if checkbox
						.c-table__filter-subject
							input.radio-custom.hidden-input(name='radio-group', type='checkbox', id='calculator-' + item_id)
							label.radio-custom-label(for='calculator-' + item_id)
					a(href="#", data-val=item.value ? item.value : item.txt)
						if item.img
							img(src=item.img_link, alt="")
						span=item.txt
						if item.subtext
							span.subtxt=item.subtxt
					if (item.list)
						.select-block__svg
							+svg('icon-arrow')
						+select-block-list(item.list, checkbox)

mixin select-block(data)
	- var selectBlockClass = data.custom_class ? data.custom_class : ''
	- selectBlockClass += data.selectedValue ? ' is-chiose' : ''
	- selectBlockClass += data.checkbox ? ' is-checkbox-mode' : ''
	.form-group-wrap
		.select-block(class=selectBlockClass)
			input(type="text", name=data.name, value=data.selectedInputValue ? data.selectedInputValue : (data.selectedValue ? data.selectedValue : null)).form-control.hidden-input
			.select-block__content
				button(type="button")
					span.select-block__placeholder=data.placeholder ? data.placeholder : 'Ничего не выбрано'
					span.select-block__value-view
						if data.selected_img_link
							img(src=data.selected_img_link, alt="")
						span=data.selectedValue ? data.selectedValue : ''
					.select-block__svg
						+svg('icon-arrow')
				if data.select_tags
					.select-block___tags
						ul
				if (data.list)
					+select-block-list(data.list, data.checkbox)
mixin c-filters(data)
	.c-filters
		.container
			.c-filters__inner
				form.js-form-check(action="/")
					.c-filters__input-row.c-filters__input-row--select-hover
						+select-block({
							name: 'them',
							selectedValue: '',
							placeholder: 'Все тематики',
							custom_class: 'is-hover',
							list: [
								{
									txt: 'Наименование категории #1 оооооочень длинное название',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #2',
									list: [
										{
											txt: 'Наименование категории #1 оооооочень длинное название'
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3',
												list: [
											{
												txt: 'Наименование категории #1 оооооочень длинное название'
											},
											{
												txt: 'Наименование категории #2'
											},
											{
												txt: 'Наименование категории #3',
													list: [
														{
															txt: 'Наименование категории #1 оооооочень длинное название'
														},
														{
															txt: 'Наименование категории #2',
															active: true,
															list: [
																{
																	txt: 'Наименование категории #1'
																},
																{
																	txt: 'Наименование категории #2'
																},
																{
																	txt: 'Наименование категории #3'
																},
															]
														},
														{
															txt: 'Наименование категории #3'
														},
													]
											},
											{
												txt: 'Наименование категории #4'
											},
											{
												txt: 'Наименование категории #5'
											},
											{
												txt: 'Наименование категории #6'
											},
										]
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #3',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #4',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #5',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #6',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #7',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								},
								{
									txt: 'Наименование категории #8',
									list: [
										{
											txt: 'Наименование категории #1',
										},
										{
											txt: 'Наименование категории #2'
										},
										{
											txt: 'Наименование категории #3'
										},
										{
											txt: 'Наименование категории #4'
										},
										{
											txt: 'Наименование категории #5'
										},
										{
											txt: 'Наименование категории #6'
										},
									]
								}
							]
						})
						+select-block({
							name: 'status_modern',
							selectedValue: '',
							placeholder: 'Статус модерации',
							custom_class: 'is-hover',
							list: [
								{
									txt: 'Активный'
								},
								{
									txt: 'В ожидание'
								},
								{
									txt: 'Неактивный'
								}
							]
						})
						+select-block({
							name: 'status_all',
							selectedValue: '',
							placeholder: 'Все статусы',
							custom_class: 'is-hover',
							list: [
								{
									txt: 'Активный'
								},
								{
									txt: 'В ожидание'
								},
								{
									txt: 'Неактивный'
								}
							]
						})
						.c-filters__search
							input(type="text", placeholder='Поиск по домену')
							button(type="submit")
								+svg('icon-search')
					.c-filters__clear-btn-row
						button#clearfilter(type='reset')
							+svg('icon-rubber')
							span Очистить фильтр

mixin c-filters-ad-block(data)
	.c-filters
		.container
			.c-filters__inner
				form.js-form-check(action="/")
					.c-filters__input-row.c-filters__input-row--select-hover
						+select-block({
							name: 'them',
							selectedValue: '',
							placeholder: 'Все площадки',
							custom_class: 'is-hover',
								list: [
								{
									txt: 'techcrunch.com'
								},
								{
									txt: 'vc.ru'
								},
								{
									txt: 'yandex.ru'
								}
							]
						})
						+select-block({
							name: 'status_all',
							selectedValue: '',
							placeholder: 'Все статусы',
							custom_class: 'is-hover',
							list: [
								{
									txt: 'Активный'
								},
								{
									txt: 'В ожидание'
								},
								{
									txt: 'Неактивный'
								}
							]
						})
						.c-filters__search
							input(type="search", placeholder='Поиск по домену')
							button(type="submit")
								+svg('icon-search')
					.c-filters__clear-btn-row
						button#clearfilter(type='reset')
							+svg('icon-rubber')
							span Очистить фильтр