mixin c-stats(data)
	.c-stats
		.container
			.c-stats__inner
				.c-stats__graph-wrapper
					.c-stats__graph-hidden
						button.show-graph Показать график
					.c-stats__graph
						.c-stats__graph-body
							.c-stats__graph-actions
								.c-stats__graph-date.c-add-block__radio
									.form-group-wrap
										input#day.radio-group-input(type='radio', name='graph-date', value='day', checked)
										label.radio-group-label.border-solid-label(for='day') День
										input#week.radio-group-input(type='radio', value='center', name='graph-date')
										label.radio-group-label.border-dashed-label(for='week') Неделя
										input#month.radio-group-input(type='radio', value='right', name='graph-date')
										label.radio-group-label.border-dotted-label(for='month') Месяц
								.c-stats__graph-hide
									button.hide-graph Свернуть
							.c-stats__graph-place
								.c-stats__graph-place-test Place for graphic
				.c-stats__table-wrapper
					.c-stats__table-filter
						form(action="/").c-stats__table-filter-inputs.c-filters
							.c-stats__table-filters
								.c-stats__table-filter-group.c-stats__table-filter-action
										+select-block({
											name: 'block-type',
											selectedValue: 'Группировка по площадкам',
											selectedInputValue: 'place-group',
											custom_class: 'is-hover',
											required: true,
											placeholder: 'Группировка по площадкам',
											list: [
												{
													txt: 'Группировка по площадкам',
													value: 'place-group'
												},
												{
													txt: 'Группировка по дате',
													value: 'date-group'
												}
											]
										})
								.c-stats__table-filter-places.c-stats__table-filter-action
									+select-block({
											name: 'block-type',
											selectedValue: 'Все площадки',
											selectedInputValue: 'all-places',
											custom_class: 'is-hover',
											required: true,
											placeholder: 'Все площадки',
											list: [
												{
													txt: 'Все площадки',
													value: 'all-places'
												},
												{
													txt: 'Не все площадки',
													value: 'not-all-places'
												}
											]
										})
								.c-stats__table-filter-search.c-stats__table-filter-action.c-add-block__place
									.form-group
										button(type='button')
											+svg('icon-search')
										span.ui-helper-hidden-accessible(role='status', aria-live='polite')
										input#domen_place2.ui-autocomplete-input(type='text', placeholder='Поиск по домену', autocomplete='off')
								.c-stats__table-filter-datepicker.c-stats__table-filter-action.c-add-block__place
									.form-group
										button(type='button')
											+svg('icon-datepicker')
										input#daterange(type='text', placeholder='Введите дату', autocomplete='off', name='datepicker', readonly)
							.c-stats__table-filter-clear.c-filters__clear-btn-row
								button#clearstatsfilter(type='reset')
									+svg("icon-rubber")
									span Очистить фильтр
					.c-stats__table-wrapper
						.c-stats__table-sort-wrapper.c-table__filter
							.c-table__filter-sort.c-stats__table-filter-date
								button
									span Дата
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-stats__table-filter-views
								button
									span Просмотров
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-stats__table-filter-visits
								button
									span Визитов
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-stats__table-filter-ctr
								button
									span CTR
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-stats__table-filter-cpm
								button
									span CPM
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-stats__table-filter-income
								button
									span Доход
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
						.c-stats__table-body
							.c-stats__table-items
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span 18.05.2019
									.c-stats__table-item-views
										span 24851
									.c-stats__table-item-visits
										span 6532
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 52389.59
								.c-stats__table-item
									.c-stats__table-item-date
										span Суммарные показатели
									.c-stats__table-item-views
										span 372 756
									.c-stats__table-item-visits
										span 97 980
									.c-stats__table-item-ctr
										span 13.11
									.c-stats__table-item-cpm
										span 24.56
									.c-stats__table-item-income 
										span 785 843.78
						