.c-stats {
	padding-bottom: 20px;
	&__graph {
		padding-bottom: 31px;
		&-date {
			.radio-group-label {
				width: 70px;
				padding: 0;
				background-color: #f3f3f3;
				height: 36px;
				line-height: 36px;
				&:not(:last-child) {
					margin-right: -5px;
					border-radius: 0 ;
				}
				&:nth-child(2) {
					border-radius: 0;
				}
				&:first-of-type {
					border-radius: 3px 0 0 3px;
				}
				&:last-of-type {
					margin-left: -1px;
					padding: 0;
				}
			}
		.radio-group-input:checked + .radio-group-label {
			background-color: #1595fc !important;
			color: #fff;
		}
		}
		&-hidden {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			
		}
		&-actions {
			display: flex;
			align-items: center;	
			justify-content: space-between;
		}
		&-body {
			height: 540px;
			border-radius: 6px;
			background-color: #ffffff;
			padding: 16px;
		}
		&-place {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			&-test {
				opacity: 0.3;
				font-family: Ubuntu;
				font-size: 24px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #000000;
			}
		}
	}
	&__table-filter-action {
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
	&__table-filter-inputs {
		width: 100%;
	}
	&__table-filters {
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__table-filter-search, &__table-filter-datepicker {
		padding-top: 0;
		.form-group {
			padding: 0;
			margin: 0;
			input {
				font-size: 15px;
				font-family: Ubuntu;
			}
		}
	}
	&__table-filter-search {
		width: 258px;
	}
	&__table-filter-datepicker {
		flex-grow: 1;
	}
	&__table {
		&-sort-wrapper {
			display: flex;
			align-items: center;
			padding-left: 23px;
			padding-top: 11px;
			.c-table__filter-sort {
				span {
					font-size: 13px;
				}
				.arrows {
					padding-top: 2px;
				}
			}
			.c-stats__table-filter {
				&-date {
					max-width: 270px;
					width: 100%;
					padding-right: 10px;
				}
				&-views {
					max-width: 144px;
					width: 100%;
					padding-right: 10px;
				}
				&-visits {
					max-width: 142px;
					width: 100%;
					padding-right: 10px;
				}
				&-ctr {
					max-width: 122px;
					width: 100%;
					padding-right: 10px;
				}
				&-cpm {
					max-width: 122px;
					width: 100%;
					padding-right: 10px;
				}
				&-income {
					max-width: 100%;
					width: 100%;
					padding-right: 10px;
				}
			}
		}
		&-items {
			display: flex;
			flex-direction: column;
		}
		&-item {
			height: 72px;
			border-radius: 4px;
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: #ffffff;
			display: flex;
			width: 100%;
			padding: 25px 20px;
			margin-bottom: 5px;
			span {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
			&-date {
				max-width: 270px;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&-views {
				max-width: 144px;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&-visits {
				max-width: 142px;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&-ctr {
				max-width: 122px;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&-cpm {
				max-width: 122px;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&-income {
				max-width: 100%;
				width: 100%;
				padding-right: 10px;
				text-overflow: ellipsis;
    		overflow: hidden;
			}
			&:last-child {
				padding: 24px 20px;
				span {
					font-weight: bold;
				}
			}
		}
	}
}
.show-graph {
	cursor: pointer;
	font-family: Ubuntu;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: #ffffff;
	width: 150px;
  height: 36px;
  border-radius: 4px;
	background-color: $blue;
	transition: all 0.3s ease;
	display: none;
	margin-bottom: 32px;
	&:hover {
		background-color: lighten($color: $blue, $amount: 5%)
	}
}
.hide-graph {
	cursor: pointer;
	font-family: Ubuntu;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: #000;
	width: 90px;
  height: 36px;
	background-color: #fff;
	transition: all 0.3s ease;
	border-radius: 4px;
  border: solid 2px rgba(153, 163, 167, 0.25);
	&:hover {
		background-color: lighten($color: $blue, $amount: 5%);
		border: solid 2px $blue;
		color: #fff;
	}
}
