.c-header{
	background-color: #002750;
	max-height: 56px;
	&__inner {
		justify-content: space-between;
		display: flex;
	}
	&__logo {
		padding-bottom: 16px;
		padding-top: 14px;
		a {
			display: flex;
			align-items: center;
			color: $white;
			svg {
				width: 97px;
				height: 30px;
			}
			span {
				letter-spacing: normal;
				font-family: Ubuntu;
				padding-left: 8px;
				font-size: 16px;
				color: $white;
				opacity: 0.6;
			}
		}
	}
	&__actions {
		display: flex;
	}
	&__balance {
		padding-bottom: 19px;
		padding-top: 17px;
		padding-right: 20px;
		b, span {
			font-family: Ubuntu;
			font-weight: bold;
			font-size: 15px;
			color: $white;
			letter-spacing: normal;
		}
		span {
			color: rgba(255, 255, 255, 0.5);
			font-weight: normal;
			padding-left: 5px;
		}
	}
	&__language {
		flex-shrink: 0;
		position: relative;
		&:after, &:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: rgba(231, 235, 241, 0.15);
			top: 0;
			bottom: 0;
			z-index: 9;
		}
		&:after {
			right: 0;
		}
		&:before {
			left: 0;
		}
		.select-block{
			position: relative;
			min-width: 98px;
			height: 100%;
			border: none !important;
			input {
				opacity: 0;
				position: absolute;
				height: 100%;
				width: 100%;
			}
			&.active{
				background-color: #002144;
				.select-block__list{
					opacity: 1;
					visibility: visible;
				}
				.select-block__svg {
					.icon-arrow {
						transform: rotate(180deg);
						opacity: 0.9;
					}
				}
			}
			&.is-chiose{
				.select-block__placeholder{
					display: none;
				}
			}
		}
		.select-block__content{
			position: relative;
			height: 100%;
			>button{
				width: 100%;
				height: 100%;
				font-weight: 500;
				color: $white;
				border-radius: 8px;
				position: relative;
				text-align-last: left;
				line-height: 48px;
				padding-left: 22px;
				overflow: hidden;
				white-space: nowrap;
				padding-right: 36px;
				text-overflow: ellipsis;
				letter-spacing: normal;
				text-align: left;
				cursor: pointer;
				.select-block__placeholder{
					line-height: 56px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					overflow: hidden;
					padding-left: 22px;
					white-space: nowrap;
					padding-right: 20px;
					text-overflow: ellipsis;
					font-family: 'Ubuntu';
					font-weight: 500;
					font-size: 14px;
					transition: all 0.2s ease;
					letter-spacing: normal;
				}
				.select-block__value-view{
					color: $white;
					font-family: 'Ubuntu';
					font-weight: 500;
					font-size: 14px;
				}
				.select-block__svg {
					position: absolute;
					right: 21px;
					top: 0;
					height: 100%;
					display: flex;
					align-items: center;
					.icon-arrow {
						transition: all 0.3s ease;
						opacity: 0.5;
					}
				}
			}
		}
		.select-block__list{
			left: 2px;
			right: 2px;
			top: 90%;
			opacity: 0;
			z-index: 1;
			position: absolute;
			visibility: hidden;
			background-color: #002144;
			box-sizing: border-box;
			border-radius: 4px;
			transition: all 0.3s ease;
			z-index: 999999;
			ul{
				li{
					transition: all 0.3s ease;
					&:hover {
						background-color: $blue;
					}
					a{
						margin: 0;
						height: 48px;
						display: block;
						padding: 0 20px;
						text-align: left;
						position: relative;
						overflow: hidden;
						font-size: 15px;
						font-weight: 400;
						letter-spacing: 0;
						line-height: 48px;
						white-space: nowrap;
						text-decoration: none;
						font-family: Ubuntu;
						font-style: normal;
						color: $white;
					}
				}
			}
		}
	}
	&__login {
		display: flex;
		align-items: center;
		padding-left: 20px;
		&-info {
			padding-bottom: 10px;
			padding-top: 8px;
			padding-right: 15px;
		}
		&-name {
			span {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: bold;
				color: $white;
				letter-spacing: normal;
				line-height: normal;
			}
		}
		&-advertiser {
			a {
				font-family: Ubuntu;
				font-size: 14px;
				line-height: normal;
				letter-spacing: normal;
				color: $blue;
			}
		}
		&-btn {
			font-size: 20px;
			opacity: 0.5;
			transition: all 0.3s ease;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

