mixin header()
	header.c-header.js-header
		.container
			.c-header__inner
				.c-header__logo
					a(href="0.html")
						+svg('icon-logo-light')
						span /кабинет вебмастера
				.c-header__actions
					.c-header__balance
						b 12 839.11
						span руб
					.c-header__language
						.select-block
							input(type="text", name='language')
							.select-block__content
								button(type="button")
									span.select-block__placeholder RUS
									span.select-block__value-view
									.select-block__svg
										+svg('icon-arrow')
								.select-block__list
									ul.h-reset-list
										li
											a(href="#", data-val='ENG') ENG
										li
											a(href="#", data-val='中国') 中国
										li
											a(href="#", data-val='RUS') RUS
					.c-header__login
						.c-header__login-info
							.c-header__login-name
								span username@gmail.com
							.c-header__login-advertiser
								a(href="#") Войти как рекламодатель
						.c-header__login-btn
							a(href="#")
								+svg('icon-logout')