mixin c-menu(data)
	.c-menu__wrapper
		.c-menu
			.container
				nav
					ul
						each item in data.menu
							li(class=(item.active?'active':''))
								a(href=item.link)
									+svg(item.svg)
									span!=item.text