.c-menu {
	background-color: #fff;
	position: relative;
	transition: all 0.3s ease;
	&__wrapper {
		height: 58px;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 2px;
		background-color: #f2f5f9;
		z-index: 5;
		transition: all 0.3s ease;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background-color: #f2f5f9;
		z-index: 5;
		transition: all 0.3s ease;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		li:not(:last-child) {
			margin-right: 33px;
		}
		li:last-child {
			span {
				padding-left: 10px;
			}
		}
		li:nth-child(5n) {
			margin-right: 27px;
			
		}
		li.active, li:hover {
			svg {
				color: #1595FC;
			}
			a {
				&:after {
					right: 0;
					width: 100%;
				}
				span {
					color: $black;
				}
			}
		}
		a {
			display: flex;
			align-items: center;
			position: relative;
			padding: 19px 0;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				bottom: 0;
				height: 6px;
				background-color: $blue;
				transition: all 0.3s ease;
			}
			span {
				font-family: Ubuntu;
				font-size: 15px;
				letter-spacing: normal;
				font-weight: 400;
				color: $text-light;
				padding-left: 10px;
				transition: all 0.3s ease;
			}
			svg {
				color: #879093;
				transition: all 0.3s ease;
				font-size: 20px;
			}
		}
	}
}

.fixed-menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #002750;
	z-index: 99999999999;
	&:before {
		background-color: #002750;
	}
	li {

		span {
			opacity: 0.85;
			color: #fff !important;
		}
		svg {
			color: #fff !important;
			opacity: 0.5 !important;
		}
	}
	li.active, li:hover {
		span {
			opacity: 1;
		}
		svg {
			opacity: 1 !important;
		}
	}
}