mixin c-modal(data)
	.c-modal
		#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-body
						span!= data.modal_text
					.modal-footer
						button.btn-yes(type='button') Да уверен
						button.btn-no(type='button', data-dismiss='modal') Отмена
