.c-modal {
	.modal-content {
		border-radius: 4px;
		box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		padding: 32px 32px 36px 32px;
		max-width: 408px;
		min-height: 194px;

	}
	.modal-body {
		text-align: center;
		padding: 0;
		span {
			font-family: Ubuntu;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.44;
			letter-spacing: normal;
			text-align: center;
			color: #000000;
		}
	}
	.modal-footer {
		border: none;
		padding: 0;
		justify-content: center;
	}
	.modal {
		align-items: center;
		justify-content: center;
		display: flex;
		opacity: 0;
		visibility: hidden;
	}
	.modal.show {
    height: 100%;
		width: 100%;
		display: flex !important;
		opacity: 1;
		visibility: visible;
}
}
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.35);
	transition: none;
	transition: all 0.2s ease;
}
