mixin c-finances(data)
	.c-finances
		.container
			.c-finances__inner
				.c-finances__subtitle-payout
					span Платежи производятся 
						b по четвергам
				.c-finances__auto-withdrawal
					if data.withdrawal__check
						.c-finances__auto-withdrawal-checkbox
							.switch-input
								label.switch
									input(type='checkbox' checked name="auto-withdrawal")
									span.slider.round(data-active="Автовывод включен" data-notactive="Автовывод отключен")
					if data.withdrawal__uncheck
						.c-finances__auto-withdrawal-checkbox
							.switch-input
								label.switch
									input(type='checkbox'  name="auto-withdrawal")
									span.slider.round(data-active="Автовывод включен" data-notactive="Автовывод отключен")
					.c-finances__auto-withdrawal-tooltip
						.tooltip-wrapper.tooltip-wrapper--finances
							button.tooltip-wide-trigger(data-toggle="tooltip" data-placement="bottom" title="Если на вашем счету накоплена указанная мин. сумма, то согласно графику она будет выведена автоматически на указаннные в настройках реквизиты.")
								span ?
					.c-finances__auto-withdrawal-sum
						span Мин. сумма:
						input(type="number", value='10000')#withdrawal-sum
				.c-finances__withdrawal-actions
					.c-finances__withdrawal-actions-left
						.c-finances__withdrawal-actions-system
							.c-filters
								.form-group__label
									span Платежная система для вывода
								+select-block({
									name: 'pay-system',
									placeholder: 'Выберите Платежную систему',
									custom_class: 'is-hover',
									list: [
										{
											txt: 'Webmoney WMR ',
											subtxt: '(комиссия 1.2%)',
											img: true,
											subtext: true,
											img_link: 's/images/tmp_file/wmr.png'
										},
										{
											txt: 'Банковская карта РФ ',
											img: true,
											subtext: true,
											subtxt: '(комиссия 0.5%)',
											img_link: 's/images/tmp_file/credit-card.png'
										},
										{
											txt: 'Безналичный расчет',
											img: true,
											img_link: 's/images/tmp_file/beznal.svg'
										},
										{
											txt: 'Яндекс.Деньги',
											img: true,
											subtext: true,
											subtxt: '(комиссия 1.5%)',
											img_link: 's/images/tmp_file/yandex-m.png'
										},
										{
											txt: 'Qiwi ',
											img: true,
											subtext: true,
											subtxt: '(комиссия 1.5%)',
											img_link: 's/images/tmp_file/qiwi.png'
										},

									]
								})
						if data.error_input
							.c-finances__withdrawal-actions-purse
								.c-filters
									.form-group__label
										span WMR кошелек
									.form-group-wrap
										.form-group
											.input-wrap
												input.form-control.error(type='text', name='purse', placeholder='Введите кошелек',  required='required' , value='291143207289')
											.error-label Недопустимый формат кошелька, пример: R034873236762
						if data.input
							.c-finances__withdrawal-actions-purse
								.c-filters
									.form-group__label
										span WMR кошелек
										button  изменить кошелек
									.form-group-wrap
										.form-group
											.input-wrap
												input.form-control(type='text', name='purse', placeholder='Введите кошелек', readonly,   required='required' , value='R291143207289')
												+svg("icon-padlock")
					.c-finances__withdrawal-actions-right
						if data.error_input
							.c-finances__withdrawal-actions-sum
								.c-filters
									.form-group__label
										span Сумма вывода
									.form-group-wrap
										.form-group
											.input-wrap
												input.form-control.error(type='text', name='purse', placeholder='укажите сумму не менее 1000 руб.',  required='required', value='200000000')
											.error-label Вы не можете вывести больше 12 839.11 руб.
						if data.input
							.c-finances__withdrawal-actions-sum
								.c-filters
									.form-group__label
										span Сумма вывода
									.form-group-wrap
										.form-group
											.input-wrap
												input.form-control(type='text', name='purse', placeholder='укажите сумму не менее 1000 руб.', required='required')
											.sub-label доступно 12 839.11 руб., макс. разовый платеж - 15 000 руб.
						.c-finances__withdrawal-actions-btn
							button(type="button") Запросить внеплановый вывод
				.c-finances__table-wrap
					.c-finances__table-title
						h3 История транзакций
					.c-finances__table-sort
						.c-finances__table-sort-wrapper.c-table__filter
							.c-table__filter-sort.c-finances__table-filter-id
								button
									span ID
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-date
								button
									span Дата
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-sum
								button
									span Сумма
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-pay-system
								button
									span Плат. система
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-bill
								button
									span Счет
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-status
								button
									span Статус
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
							.c-table__filter-sort.c-finances__table-filter-transaction
								button
									span Тип транзакции
									.arrows
										.arrow-top
											+svg('icon-triangle')
										.arrow-bottom
											+svg('icon-triangle')
					.c-finances__table-body
						.c-finances__table-items
							.c-finances__table-item.c-finances__table-item--waiting
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 1 234 850.034 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-clock')
									span В очереди
								.c-finances__table-item-transaction 
									span Пополнение
								.c-finances__table-item-cancel
									button.tooltip-wide-trigger(data-toggle="tooltip" data-placement="bottom" title="Отменить выплату", type="button")
										+svg("icon-cancel")
							.c-finances__table-item.c-finances__table-item--done
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-success')
									span Выполнена
								.c-finances__table-item-transaction 
									span Автовывод
							.c-finances__table-item.c-finances__table-item--cancel
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-cancel')
									span Отклонена
									.tooltip-wrapper.tooltip-wrapper--finances
										button.tooltip-wide-trigger(data-toggle="tooltip" data-placement="bottom" title="Если на вашем счету накоплена указанная мин. сумма, то согласно графику она будет выведена автоматически на указаннные в настройках реквизиты.")
											span ?
								.c-finances__table-item-transaction 
									span Пополнение
							.c-finances__table-item.c-finances__table-item--treatment
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-loading-mark')
									span В обработке
								.c-finances__table-item-transaction 
									span Пополнение
							.c-finances__table-item.c-finances__table-item--moderating
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-binoculars')
									span На модерации
								.c-finances__table-item-transaction 
									span Пополнение
								.c-finances__table-item-cancel
									button.tooltip-wide-trigger(data-toggle="tooltip" data-placement="bottom" title="Отменить выплату", type="button")
										+svg("icon-cancel")
							.c-finances__table-item.c-finances__table-item--cancel
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-cancel')
									span Отменена
								.c-finances__table-item-transaction 
									span Пополнение
							.c-finances__table-item.c-finances__table-item--done
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-success')
									span Выполнена
								.c-finances__table-item-transaction 
									span Вывод
							.c-finances__table-item.c-finances__table-item--done
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-success')
									span Выполнена
								.c-finances__table-item-transaction 
									span Вывод
							.c-finances__table-item.c-finances__table-item--done
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-success')
									span Выполнена
								.c-finances__table-item-transaction 
									span Вывод
							.c-finances__table-item.c-finances__table-item--done
								.c-finances__table-item-id
									span 01234578
								.c-finances__table-item-date
									span 18.05.2019 22:54
								.c-finances__table-item-sum
									b 3850.34 руб
								.c-finances__table-item-pay-system
									span Webmoney
								.c-finances__table-item-bill
									span R1234567891121234
								.c-finances__table-item-status
									+svg('icon-success')
									span Выполнена
								.c-finances__table-item-transaction 
									span Вывод