.c-finances {
	&-title {
		padding-top: 38px;
		padding-bottom: 7px;
	}
	&__subtitle-payout {
		span,b {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
		}
		b 
		{
			font-weight: bold;
		}
	}
	&__auto-withdrawal {
		padding-top: 38px;
		display: flex;
		align-items: center;
		&-sum {
			position: relative;
			margin-left: 15px;
			span {
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: 500;
				line-height: normal;
				letter-spacing: normal;
				color: #879093;
			}
			input {
				padding-left: 115px;
				padding-right: 20px;
				width: 220px;
				height: 50px;
				border-radius: 4px;
				border: solid 1px rgba(44, 56, 58, 0.07);
				background-color: #ffffff;
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
		}
	}
	&__withdrawal-actions {
		padding-top: 48px;
		display: flex;
		.form-group {
			margin-bottom: 0;
		}
		&-left {
			position: relative;
			padding-right: 34px;
			&::after {
				content: '';
				position: absolute;
				top: 7px;
				bottom: -2px;
				right: 0;
				width: 2px;
				background-color: #d2d7dd;
				display: inline-block;
			}
		}
		&-right {
			padding-left: 32px;
		}
		.form-group__label {
			padding-bottom: 8px;
			span {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: 500;
				line-height: normal;
				letter-spacing: normal;
				color: #879093;
			}
		}
		.select-block {
			width: 456px;
			.subtxt {
				color: rgba(0, 0, 0, 0.5) !important;
				padding-left: 7px;
			}
			img {
				height: 20px;
				width: 20px;
				margin-right: 10px;
				margin-left: 0;
			}
			.select-block__value-view {
				img {
					margin-top: 13px;
				}
			}
		}
		&-purse , &-sum{
			width: 456px;
			padding-top: 24px;
			position: relative;
			input {
				border: solid 1px rgba(44, 56, 58, 0.07);
				text-overflow: ellipsis;
				letter-spacing: normal;
				background: #ffffff;
				padding-right: 36px;
				white-space: nowrap;
				border-radius: 8px;
				border-radius: 4px;
				position: relative;
				padding-left: 20px;
				line-height: 50px;
				overflow: hidden;
				text-align: left;
				color: #000000;
				height: 50px;
				width: 100%;
				&:focus {
					border: solid 1px rgba(44, 56, 58, 0.07);
				}
			}
		}
		&-purse {
			.form-group__label {
				display: flex;
				justify-content: space-between;
				button {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: right;
					color: $blue;
					cursor: pointer;
				}
			}
			.input-wrap {
				position: relative;
				svg {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					color: #879093;
				}
			}
			.form-control[readonly] {
				background-color: #fff;
			}
		}
		&-sum {
			padding-top: 0;
		}
		&-btn {
			padding-top: 52px;
			button {
				width: 456px;
				height: 50px;
				border-radius: 4px;
				background-color: $blue;
				text-align: center;
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: 500;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #ffffff;
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover {
					background-color: lighten($color: $blue, $amount: 10)
				}
			}
		}
	}
	.error-label {
		position: absolute;
		bottom: -26px;
		font-family: Ubuntu;
		font-size: 15px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: normal;
		color: #ff5050;
	}
	.sub-label {
		position: absolute;
		bottom: -26px;
		font-family: Ubuntu;
		font-size: 15px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}
	.error {
		background-color: #fff;
		border: solid 1px #ff5050;
		&:hover {
			border: solid 1px #ff5050;
		}
	}
	&__table {
		&-title {
			h3 {
				font-family: Ubuntu;
				font-size: 21px;
				font-weight: bold;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
		}
		&-wrap {
			padding-top: 46px;
		}
		&-sort-wrapper {
			display: flex;
			align-items: center;
			height: 56px;
			padding-left: 20px;
		}
		&-body {
			padding-top: 2px;
		}
		&-filter {
			&-id,&-date,&-sum,&-pay-system,&-status,&-transaction{
				button {
					span {
						font-size: 13px;
					}
				}
			}
			&-id {
				max-width: 95px;
				width: 100%;
				padding-right: 10px;
			}
			&-date {
				max-width: 153px;
				width: 100%;
				padding-right: 10px;
			}
			&-sum {
				max-width: 166px;
				width: 100%;
				padding-right: 10px;
			}
			&-pay-system {
				max-width: 130px;
				width: 100%;
				padding-right: 10px;
			}
			&-bill {
				max-width: 200px;
				width: 100%;
				padding-right: 10px;
			}
			&-status {
				max-width: 169px;
				width: 100%;
				padding-right: 10px;
			}
			&-transaction {
				max-width: 173px;
				width: 100%;
				padding-right: 10px;
			}
		}
		&-item {
			height: 72px;
			border-radius: 4px;
			border: solid 1px rgba(44, 56, 58, 0.07);
			background-color: #ffffff;
			display: flex;
			align-items: center;
			padding: 0 20px;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
			&-id,&-date,&-sum,&-pay-system,&-status,&-transaction, &-bill{
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				span, b {
					opacity: 0.7;
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #000000;
				}
			}
			&-id {
				max-width: 96px;
				width: 100%;
				padding-right: 10px;
			}
			&-date {
				max-width: 151px;
				width: 100%;
				padding-right: 10px;
			}
			&-transaction {
				max-width: 134px;
				width: 100%;
				padding-right: 10px;
			}
			&-sum {
				max-width: 165px;
				width: 100%;
				padding-right: 10px;
				b {
					font-weight: 500;
					opacity: 1;
				}
			}
			&-pay-system {
				max-width: 132px;
				width: 100%;
				padding-right: 10px;
				span {
					opacity: 1;
				}
			}
			&-bill {
				max-width: 198px;
				width: 100%;
				padding-right: 10px;
				span {
					opacity: 1;
				}
			}
			&-status {
				max-width: 169px;
				width: 100%;
				padding-right: 10px;
				display: flex;
				align-items: center;
				span {
					padding-left: 8px;
				}
			}
			&-cancel  {
				width: 40px;
				height: 36px;
				border-radius: 4px;
				border: solid 2px rgba(153, 163, 167, 0.25);
				margin-left: auto;
				display: flex;
				justify-content: flex-end;
				transition: all 0.3s ease;
				button {
					width: 100%;
					height: 100%;
					cursor: pointer;
					transition: all 0.3s ease;
					.icon {
						font-size: 14px;
						transition: all 0.3s ease;
					}
				}
				&:hover {
					border: solid 2px $blue;
				}
			}
			&--waiting {
				.c-finances__table-item-status {
					svg {
						font-size: 1.1em;
						color: #727272;
					}
					span {
						font-weight: 500;
					}
				}
			}
			&--done {
				.c-finances__table-item-status {
					svg {
						font-size: 1.2em;
						color: #7ed321;
					}
					span {
						color: #7ed321;
						font-weight: 500;
					}
				}
			}
			&--cancel {
				.c-finances__table-item-status {
					svg {
						font-size: 1.1em;
						color: #ff5050;
					}
					span {
						color: #ff5050;
						font-weight: 500;
					}
				}
			}
			&--treatment {
				.c-finances__table-item-status {
					svg {
						font-size: 1.2em;
						animation: waiting 2s linear  infinite ;
					}
					span {
						color: #1595fc;
						font-weight: 500;
					}
				}
			}
			&--moderating {
				.c-finances__table-item-status {
					svg {
						font-size: 1.2em;
						color: #ff8000;
					}
					span {
						color: #ff8000;
						font-weight: 500;
					}
				}
			}
			.tooltip-wrapper {
				span {
					color: #727B7E;
					padding: 0;
				}
			}
		}
	}
}
