mixin c-archive-block(data)
	.c-archive-block
		.container
			.c-archive-block__inner
				.c-archive-block__img
					+svg("icon-block-archive")
				.c-archive-block__title
					h2 Архив с рекламными блоками пуст
				.c-archive-block__subtitle
					span Вы еще не удаляли и не переносили в архив блоки.
				.c-archive-block__btn
					a(href="#").revert-list-block
						+svg("icon-platforms")
						span Вернуться к списку блоков