.c-archive-block {
	padding-bottom: 100px;
	&__inner {
		flex-direction: column;
		align-items: center;
		padding-top: 148px;
		display: flex;
	}
	&__img {
		svg {
			opacity: 0.15;
			width: 120px;
			height: 94px;
		}
	}
	&__title {
		padding-top: 30px;
		h2 {
			letter-spacing: normal;
			line-height: normal;
			font-family: Ubuntu;
			text-align: center;
			font-weight: bold;
			color: #000000;
			font-size: 26px;
		}
	}
	&__subtitle {
		padding-top: 10px;
		span {
			letter-spacing: normal;
			font-weight: normal;
			font-family: Ubuntu;
			text-align: center;
			color: #000000;
			line-height: 1.5;
			font-size: 18px;
		}
	}
	&__btn {
		padding-top: 31px;
		a {
			border: solid 2px rgba(153, 163, 167, 0.25);
			transition: all 0.3s ease;
			align-items: center;
			border-radius: 4px;
			padding: 0 18px;
			display: flex;
			height: 50px;
			&:hover {
				border: solid 2px $blue;
				svg {
					color: $blue;
				}
			}
			svg {
				font-size: 20px;
				color: $blue;
			}
			span {
				letter-spacing: normal;
				font-family: Ubuntu;
				padding-left: 15px;
				line-height: 50px;
				color: #2c383a;
				font-weight: 500;
				font-size: 15px;
			}
		}
	}
}