mixin c-reference(data)
	.c-reference
		.container
			.c-reference__inner
				.c-reference__tabs-nav
					ul#myTab.nav.nav-tabs(role='tablist')
						li
							a#advertiser.active(data-toggle='tab', href='#advertiser-block', role='tab', aria-controls='advertiser-block', aria-selected='true') Рекламодателям
						li
							a#owner(data-toggle='tab', href='#owner-block', role='tab', aria-controls='owner-block', aria-selected='false') Владельцам сайтов
				.c-reference__tabs-content
					#myTabContent.tab-content
						#advertiser-block.tab-pane.active(role='tabpanel', aria-labelledby='advertiser') 
							.c-reference__advertiser-block
								#accordion
									.card-item
										#headingOne.card-head
											h5.mb-0
												button.btn-link(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Как работает ваша система?
										#collapseOne.collapse.show.fade(aria-labelledby='headingOne', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
									.card-item
										#headingTwo.card-head
											h5.mb-0
												button.btn-link(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo') Сколько стоит разместить у вас рекламу?
										#collapseTwo.collapse.show.fade(aria-labelledby='headingTwo', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития. 
									.card-item
										#headingThree.card-head
											h5.mb-0
												button.btn-link.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Сколько трафика можно получить?
										#collapseThree.collapse.fade(aria-labelledby='headingThree', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
									.card-item
										#headingFour.card-head
											h5.mb-0
												button.btn-link.collapsed(data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour') Можно ли отслеживать конверсию?
										#collapseFour.collapse.fade(aria-labelledby='headingFour', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
									.card-item
										#headingFive.card-head
											h5.mb-0
												button.btn-link.collapsed(data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') Какой можно установить таргетинг для объявлений?
										#collapseFive.collapse.fade(aria-labelledby='headingFive', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
									.card-item
										#headingSix.card-head
											h5.mb-0
												button.btn-link.collapsed(data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix') Как установить разный геотаргетинг для своих объявления?
										#collapseSix.collapse.fade(aria-labelledby='headingSix', data-parent='#accordion')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
						#owner-block.tab-pane.fade(role='tabpanel', aria-labelledby='owner')
							.c-reference__owner-block
								#accordion2
									.card-item
										#heading1.card-head
											h5.mb-0
												button.btn-link(data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1') Как работает ваша система?
										#collapse1.collapse.show.fade(aria-labelledby='heading1', data-parent='#accordion2')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
									.card-item
										#heading2.card-head
											h5.mb-0
												button.btn-link(data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2') Сколько стоит разместить у вас рекламу?
										#collapse2.collapse.show.fade(aria-labelledby='heading2', data-parent='#accordion2')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития. 
									.card-item
										#heading3.card-head
											h5.mb-0
												button.btn-link.collapsed(data-toggle='collapse', data-target='#collapse3', aria-expanded='false', aria-controls='collapse3') Сколько трафика можно получить?
										#collapse3.collapse.fade(aria-labelledby='heading3', data-parent='#accordion2')
											.card-body
												p Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа форм развития.
