.c-reference {
	&__tabs-nav {
		display: flex;
		width: auto;
		padding-top: 6px;
		ul {
			padding: 0;
			margin: 0;
			border: none;
			border: solid 2px #dde2e6;
			display: flex;
			border-radius: 4px;
			li {
				z-index: 1;
				&:first-child {
					margin-right: -3px;
					z-index: 5;
				}
				a {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: 500;
					letter-spacing: normal;
					text-align: center;
					color: #2c383a;
					display: inline-block;
					height: 48px;
					line-height: 46px;
					padding: 0 28px;
					background-color: transparent;
					border-radius: 4px;
					transition: all 0.3s ease;
					&:last-child {
						padding-right: 25px;
					}
				}
				a.active {
					color: #fff;
					z-index: 6;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						top: -2px;
						left: -2px;
						right: -2px;
						bottom: -2px;
						background-color: $blue;
						z-index: -1;
						border-radius: 4px;
					}
				}
			}
		}
	}
	.card-item {
		margin-bottom: 21px;
	}
	.card-head {
		button {
			font-family: Ubuntu;
			font-size: 17px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
			cursor: pointer;
		}
		.collapsed {
			color: $blue;
		}
	}
	.card-body {
		padding: 0;
		padding-top: 19px;

		p{
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.55;
			letter-spacing: normal;
			color: #000000;
			max-width: 744px;
		}
	}
	&__tabs-content {
		padding-top: 36px;
	}
}
.reference-title {
	padding-top: 37px;
	padding-bottom: 20px;
}