.c-title {
		padding: 32px 0 30px 0;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__name {
		h2 {
			font-family: Ubuntu;
			font-weight: bold;
			font-size: 32px;
			color: $black;
			letter-spacing: normal;
		}
	}
	&__buttons {
		display: flex;
		a {
			&:last-child {
				margin-left: 10px;
			}
		}
	}
}
.title_new-add {
	padding: 38px 0 30px 0;
}
.add-block-title {
	padding: 38px 0 38px 0;
}
.news-item-title {
	padding-top: 36px;
	padding-bottom: 20px;
	.c-title__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.news_link_txt {
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #209afc;
			padding-bottom: 16px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.profile-title {
	padding: 38px 0 28px 0;
}