mixin c-title(data)
	.c-title(class=data.custom_class ? data.custom_class : null )
		.container
			.c-title__inner
				if data.news_link
					a(href="#").news_link_txt!=data.news_link_txt
				.c-title__name
					h2!=data.title
				if data.platforms_btns
					.c-title__buttons
						a(href="#").add_platforms
							+svg("icon-add")
							span Добавить площадку
						a(href="#").link_archive
							+svg("icon-archive")
							span Перейти в архив
				if data.platforms_btns_block
					.c-title__buttons
						a(href="#").add_platforms
							+svg("icon-add")
							span Добавить рекламный блок
						a(href="#").link_archive
							+svg("icon-archive")
							span Перейти в архив
				if data.archive_btn
					.c-title__buttons
						a(href="#").return_platforms
							+svg("icon-platforms")
							span Вернуться к списку площадок
				if data.archive_btn_block
					.c-title__buttons
						a(href="#").return_platforms
							+svg("icon-platforms")
							span Вернуться к списку блоков
