mixin c-profile-pass(data)
	.c-profile-pass.c-profile.c-new-place 
		.container
			.c-profile-pass__inner
				form(action="")
					.row
						.c-profile__pass
							.form-group-wrap
								.form-group__label
									span Новый пароль
								.form-group
									.input-wrap
										input.form-control(type='text', name='userpass', placeholder='Придумайте пароль не менее 8 символов', value='', required='required')
					.row
						.c-profile__pass2
							.form-group-wrap
								.form-group__label
									span Пароль еще раз
								.form-group
									.input-wrap
										input.form-control(type='text', name='userpass2', placeholder='Введите пароль еше раз', value='', required='required')
					.row
						.c-profile__btns
							.c-profile__btn
								button(type="submit").save Сохранить изменения