.c-modal-clipboard {
.modal-content {
	width: 745px;
  border-radius: 4px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	position: relative;
	padding: 32px;
	padding-top: 28px;
	padding-bottom: 8px;
}
&__close {
	position: absolute;
	right: 12px;
	top: 12px;
	display: inline-block;
	button {
		cursor: pointer;
		&:hover {
			svg {
				color: $blue;
				opacity: 1;
			}
		}
		svg {
			opacity: 0.5;
			transition: all 0.3s ease;
		}
	}
}
&__title {
	text-align: center;
	h3 {
		font-family: Ubuntu;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.08;
		letter-spacing: normal;
		color: #000000;
	}
}
&__subtitle {
	text-align: center;
	span {
		font-family: Ubuntu;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.63;
		letter-spacing: normal;
		color: #000000;
	}
}
&__block-title {
	h4 {
		font-family: Ubuntu;
		font-size: 14px;
		font-weight: bold;
		line-height: normal;
		letter-spacing: normal;
		color: #2c383a;
	}
}
&__block-subtitle {
	span {
		font-family: Ubuntu;
		font-size: 13px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b8fa2;
	}
}
&__block-content {
	margin-top: 12px;
	border-radius: 3px;
	border: solid 1px rgba(0, 0, 0, 0.05);
	background-color: #f5f8fc;
	margin-bottom: 24px;
	pre, code {
			font-family: Ubuntu;
			font-size: 12px;
			font-weight: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
	}
	pre {
		padding: 12px;
	}
	button {
		border-radius: 4px;
		background-color: $blue;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 36px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background-color: lighten($color: $blue, $amount: 7%)
		}
		svg {
			color: #ffffff;
			margin-right: 8px;
		}
		span {
			font-size: 14px;
			font-weight: normal;
			line-height: 36px;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
		}
	}
}
.modal {
	height: 100%;
	
	opacity: 0;
	visibility: hidden;
} .show{
	opacity: 1;
	visibility: visible;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
}