mixin c-modal-clipboard(data)
	.c-modal-clipboard
		#modal-clipboard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.c-modal-clipboard__close
						button(type='button', data-dismiss='modal')
							+svg("icon-close-light")
					.c-modal-clipboard__head
						.c-modal-clipboard__title
							h3 Новый блок #1
						.c-modal-clipboard__subtitle
							span  techcrunch.com
					.c-modal-clipboard__body
						.c-modal-clipboard__block-wrap
							.c-modal-clipboard__block-title
								h4 Общий блок
							.c-modal-clipboard__block-subtitle
								span Скопируйте и вставьте этот фрагмент кода между тегами HEAD на вашем сайте.
							.c-modal-clipboard__block-content
								pre#copycontent1
									code
										|&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
										br
										|&lt;html&gt;
										br
										|&lt;head&gt;
										br
										|&nbsp;&nbsp;&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
										br
										|&nbsp;&nbsp;&lt;title&gt;Пример веб-страницы&lt;/title&gt;
										br
										|&lt;/head&gt;
										br
										|&lt;body&gt;
										br
										|&nbsp;&nbsp;&lt;h1&gt;Заголовок&lt;/h1&gt;
										br
										|&nbsp;&nbsp;&lt;!-- Комментарий --&gt;
										br
										|&nbsp;&nbsp;&lt;p&gt;Первый абзац.&lt;/p&gt;
										br
										|&nbsp;&nbsp;&lt;p&gt;Второй абзац.&lt;/p&gt;
										br
										|&lt;/body&gt;
										br
										|&lt;/html&gt;
								button#copyclipboard.copy-letter-button(data-clipboard-action="copy" ,data-clipboard-target="#copycontent1")
									+svg("icon-b-copy")
									span Скопировать код
						.c-modal-clipboard__block-wrap
							.c-modal-clipboard__block-title
								h4 Конкретный блок
							.c-modal-clipboard__block-subtitle
								span Скопируйте и вставьте этот фрагмент кода в том месте, где должен выводиться рекламный блок
							.c-modal-clipboard__block-content
								pre#copycontent2
									code
										|&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
								button#copyclipboardsmall.copy-letter-button(data-clipboard-action="copy",data-clipboard-target="#copycontent2")
									+svg("icon-b-copy")
									span Скопировать код
						.c-modal-clipboard__block-wrap


						//- <span></span>
