mixin c-table(data)
	.c-table
		.container
			.c-table__filter
				.c-table__filter-inner
					.c-table__filter-subject
						input#subject.radio-custom(name='radio-group', type='checkbox')
						label.radio-custom-label(for='subject')
						.subject URL / Тематика
					.c-table__filter-sort.c-table__filter-sort--views.sort-down
						button
							span Просмотров / 24ч
							.arrows
								.arrow-top
									+svg('icon-triangle')
								.arrow-bottom
									+svg('icon-triangle')
					.c-table__filter-sort.c-table__filter-sort--visits
						button
							span Визитов / 24ч
							.arrows
								.arrow-top
									+svg('icon-triangle')
								.arrow-bottom
									+svg('icon-triangle')
					.c-table__filter-sort.c-table__filter-sort--profit
						button
							span Заработок / 7д
							.arrows
								.arrow-top
									+svg('icon-triangle')
								.arrow-bottom
									+svg('icon-triangle')
					.c-table__filter-sort.c-table__filter-sort--status
						button
							span Статус
							.arrows
								.arrow-top
									+svg('icon-triangle')
								.arrow-bottom
									+svg('icon-triangle')
			.c-table__body
				.c-table__items
					.c-table__item-wrap
						.c-table__item
							.c-table__item-name
								input#name.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name')
								.item-name__label
									b yandex.ru
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								span На модерации
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item
							.c-table__item-name
								input#name2.radio-custom(name='radio-group', type='checkbox', checked)
								label.radio-custom-label(for='name2')
								.item-name__label
									b vc.ru
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								label.switch
									input(type='checkbox', checked='' name="sw-1")
									span.slider.round(data-active="Активна" data-notactive="Не активна")
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item
							.c-table__item-name
								input#name12.radio-custom(name='radio-group', type='checkbox', checked)
								label.radio-custom-label(for='name12')
								.item-name__label
									b vc.ru
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								label.switch
									input(type='checkbox', name="sw-3")
									span.slider.round(data-active="Активна" data-notactive="Не активна")
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item
							.c-table__item-name
								input#name3.radio-custom(name='radio-group', type='checkbox', checked)
								label.radio-custom-label(for='name3')
								.item-name__label
									b vc.ru
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								span.orange Отклонена
								.tooltip-wrapper
									button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
										span ?
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item.c-table__item--content
							.c-table__item-name
								input#name4.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name4')
								.item-name__label
									b techcrunch.com
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								span.red Заблокирована
								.tooltip-wrapper
									button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
										span ?
							.c-table__item-actions
								ul
									li.new-add-block
										a(href='#')
											+svg('icon-graph')
											+svg('icon-add')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
						.c-table__item-no-block
							.c-table__item-no-block-inner
								h3 Добавьте первый рекламный блок
								span Данная площадка еще не имеет рекламных блоков, добавьте рекламный блок чтобы начать зарабатывать
								.btn-block
									button + Добавить новый блок
					.c-table__item-wrap
						.c-table__item.c-table__item--content
							.c-table__item-name
								input#name5.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name5')
								.item-name__label
									b techcrunch.com
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								.c-table__item-status
										span.orange Отклонена
										.tooltip-wrapper
											button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
												span ?
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li.show-all-blocks
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
						.c-table__item-all-blocks
							.c-table__item-all-blocks-inner
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-20")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-30")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-50")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item.c-table__item--content
							.c-table__item-name
								input#name6.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name6')
								.item-name__label
									b techcrunch.com
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								.c-table__item-status
										span.orange Отклонена
										.tooltip-wrapper
											button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
												span ?
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li.show-all-blocks
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
						.c-table__item-all-blocks
							.c-table__item-all-blocks-inner
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-20")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-30")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-60")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item.c-table__item--content
							.c-table__item-name
								input#name7.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name7')
								.item-name__label
									b techcrunch.com
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								.c-table__item-status
										span.orange Отклонена
										.tooltip-wrapper
											button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
												span ?
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li.show-all-blocks
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
						.c-table__item-all-blocks
							.c-table__item-all-blocks-inner
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-20")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-30")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-70")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
					.c-table__item-wrap
						.c-table__item.c-table__item--content
							.c-table__item-name
								input#name8.radio-custom(name='radio-group', type='checkbox')
								label.radio-custom-label(for='name8')
								.item-name__label
									b techcrunch.com
									span Информационный агрегатор
							.c-table__item-views
								span 24851
							.c-table__item-visits
								span 6532
							.c-table__item-profit
								span 542891.59
							.c-table__item-status
								.c-table__item-status
										span.orange Отклонена
										.tooltip-wrapper
											button(data-toggle="tooltip" data-placement="bottom" title="Неверная ссылка на отчет из Яндекс.Метрики")
												span ?
							.c-table__item-actions
								ul
									li
										a(href="#")
											+svg('icon-add')
									li.show-all-blocks
										a(href="#")
											+svg('icon-graph')
									li
										a(href="#")
											+svg('icon-stats')
									li
										a(href="#")
											+svg('icon-archive')
									li
										a(href="#")
											+svg('icon-pen')
						.c-table__item-all-blocks
							.c-table__item-all-blocks-inner
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-20")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-30")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
								.c-table__item
									.c-table__item-name
										.remove-block 
										.item-name__label
											b Новый блок #1
											span Размер:150х150
									.c-table__item-views
										span 4892
									.c-table__item-visits
										span 351
									.c-table__item-profit
										span 117511.02
									.c-table__item-status
										label.switch
											input(type='checkbox', checked='' name="sw-70")
											span.slider.round(data-active="Активен" data-notactive="Не активна")
									.c-table__item-actions
										ul
											li
												a(href="#")
													+svg('icon-stats')
											li
												a(href="#")
													+svg('icon-archive')
											li
												a(href="#")
													+svg('icon-pen')
							.c-table__item-open-btn
								a(href="#").new-block
									span + Добавить новый блок
								a(href="#").all-blocks
									span Показать все блоки
				if data.bottom_btns
					.c-table__activity.c-filters
						.c-table__activity-select
							+select-block({
								name: 'activity',
								selectedValue: '',
								placeholder: 'Выберите действие',
								custom_class: 'is-hover',
								list: [
									{
										txt: 'Удалить'
									},
									{
										txt: 'Добавить'
									},
									{
										txt: 'Деактивировать'
									}
								]
							})
						.c-table__activity-btns
							.c-title__buttons
								a(href="#").add_platforms
									+svg("icon-add")
									span Добавить площадку
								a(href="#").link_archive
									+svg("icon-archive")
									span Перейти в архив
