.c-table {
	.c-ad-block-list {
		padding-bottom: 20px;
	}
	&__filter {
		height: 73px;
		&-inner {
		padding-top: 32px;
		padding-left: 15px;
		padding-bottom: 19px;
		display: flex;
		align-items: center;
		}
		&-subject {
			width: 293px;
			min-height: 22px;
			display: flex;
			.subject {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: bold;
				color: #879093;
				letter-spacing: normal;
				transition: all 0.3s ease;
				position: relative;
			}
		}
		&-sort {
			button {
				cursor: pointer;
				display: flex;
				&:hover {
					span {
						color:  #002750;
						&:after {
							opacity: 1;
							visibility: visible;
							right: 0;
							width: 100%;
						}
					}
				}
				span {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: bold;
					color: #879093;
					letter-spacing: normal;
					transition: all 0.3s ease;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						bottom: -4px;
						left: 0;
						width: 0;
						height: 2px;
						background-color: $blue;
						opacity: 0;
						visibility: hidden;
						transition: all 0.3s ease;
					}
				}
				.arrows {
					display: flex;
					flex-direction: column;
					padding-left: 11px;
					padding-top: 4px;
					.arrow-top {
						display: flex;
					}
					.arrow-bottom {
						display: flex;
						transform: rotate(180deg);
						margin-top: 2px;
					}
					svg {
						opacity: 0.75;
						color: #7D6C83;
						width: 8px;
						height: 4.7px;
						&:hover {
							color: $blue;
						}
					}
				}
			}
			&--views {
				width: 181px;
			}
			&--visits {
				width: 149px;
			}
			&--profit {
				width: 146px;
			}
			&--status {
				button {
					.arrows {
						padding-left: 5px;
					}
				}
			}
		}
		.sort-down, .sort-up {
			button {
				span {
					color:  #002750;
					&:after {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
		.sort-down {
			button {
				.arrows {
					.arrow-bottom {
						svg {
							color: $blue;
						}
					}
				}
			}
		}
		.sort-up {
			button {
				.arrows {
					.arrow-top {
						svg {
							color: $blue;
						}
					}
				}
			}
		}
	}
	&__item {
		border: solid 1px rgba(44, 56, 58, 0.07);
		padding: 15px 20px 17px 14px;
		background-color: #ffffff;
		transition: all 0.3s ease;
		box-sizing: border-box;
		border-radius: 4px;
		position: relative;
		display: flex;
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			left: -1px;
			right: -1px;
			bottom: -1px;
			border: solid 2px rgba(21, 149, 252, 0.25);
			border-radius: 4px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
			display: inline-block;
			box-sizing: border-box;
			z-index: 2;
		}

			&:hover {
				box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
				cursor: pointer;
				&:after {
					opacity: 0.25;
					visibility: visible;
				}
			}
		&-wrap {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
		&-wrap.active-no-block {
			.c-table__item {
				box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.15);
				&:after {
					content: '';
					position: absolute;
					top: -1px;
					left: -1px;
					right: -1px;
					bottom: -1px;
					border: solid 2px rgba(21, 149, 252, 0.25);
					border-radius: 4px;
					opacity: 1;
					visibility: visible;
					transition: all 0.3s ease;
					display: inline-block;
					box-sizing: border-box;
					z-index: 2;
				}
				.show-all-blocks, .new-add-block {
						svg {
							color: $blue;
						}
				}
			}
			.show-all-blocks, .new-add-block {
				svg {
					color: $blue;
				}
		}
			.c-table__item-no-block {
				opacity: 1;
				visibility: visible;
				display: block !important;
			}
			.c-table__item-all-blocks {
				height: auto;
				overflow: visible;
			}
		}
		&-name {
			width: 294px;
			z-index: 5;
			.checkbox-custom + .checkbox-custom-label::after, .radio-custom + .radio-custom-label::after {
				top: 4px;
			}
			.radio-custom-label {
				display: flex;
				align-items: center;
			}
			.item-name__label {
				display: flex;
				flex-direction: column;
				overflow: hidden;
				padding-right: 20px;
				b {
					font-family: Ubuntu;
					font-size: 15px;
					font-weight: bold;
					color: $black;
					letter-spacing: normal;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					
				}
				span {
					font-family: Ubuntu;
					padding-top: 3px;
					font-size: 14px;
					color: #2c383a;
					letter-spacing: normal;
					font-weight: normal;
				}
			}
		}
		&-views {
			width: 179px;
			z-index: 5;
		}
		&-visits {
			width: 151px;
			z-index: 5;
		}
		&-profit {
			width: 144px;
			z-index: 5;
		}
		&-status {
			width: 165px;
			z-index: 5;
			overflow: hidden;
			.switch {
				position: relative;
				display: inline-block;
				width: 38px;
				height: 22px;
				transition: all 0.3s ease;
			}
			
			.switch input { 
				opacity: 0;
				width: 0;
				height: 0;
				position: relative;
				transition: all 0.3s ease;
			}
			
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #879093;
				transition: all 0.3s ease;
			}
			
			.slider:before {
				position: absolute;
				content: "";
				height: 16px;
				width: 16px;
				left: 3px;
    		bottom: 3px;
				background-color: white;
				transition: all 0.3s ease;
			}
			
			input:checked ~ .slider {
				background-color: #89d924;
			}
			
			
			input:checked ~ .slider:before {
				transform: translateX(15px);

			}
			input:checked ~ .slider:after {
				// content: 'Активна';
				content: attr(data-active) "";
				position: absolute;
				left: 45px;
   			 top: 2px;
				color: #7ed321;
				font-size: 15px;
				font-family: Ubuntu;
				font-weight: 500;
			}
			input ~ .slider:after {
				// content: 'Не активна';
				content: attr(data-notactive) "";
				position: absolute;
				left: 45px;
    		top: 2px;
				color: #727272;
				font-size: 15px;
				font-family: Ubuntu;
				font-weight: 500;
				white-space: nowrap;
			}
			
			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}
			
			.slider.round:before {
				border-radius: 50%;
			}
			span {
				font-family: Ubuntu;
				font-size: 15px;
				font-weight: bold;
				letter-spacing: normal;
			}
			.orange {
				color: #ff8000;
			}
			.red {
				color: #ff5050;
			}
			.tooltip-wrapper {
				padding-left: 6px;
				display: flex;
				align-items: center;
				button {
					cursor: pointer;
					position: relative;
					display: inline-block;
					span {
						font-family: Ubuntu;
						font-size: 14px;
						font-weight: bold;
						height: 22px;
						width: 22px;
						border-radius: 50%;
						background-color: rgba(135, 144, 147, 0.25);
						display: inline-block;
						line-height: 22px;
						text-align: center;
						color: #727b7e;
					}
					&:hover {
						cursor: pointer;
						span {
							background-color: $blue;
							color: $white;
						}
					}
				}
				// .tooltip-inner {
				// 	position: absolute;
				// 	top: 33px;
				// 	left: 50%;
				// 	transform: translateX(-50%);
				// 	border-radius: 4px;
				// 	background-color: #002144;
				// 	padding: 10px;
				// 	padding-bottom: 0;
				// 	display: inline-block;
				// 	min-width: 188px;
				// 	opacity: 0;
				// 	visibility: hidden;
				// 	transition: all 0.3s ease;
				// 	z-index: 99999;
				// 	&::before {
				// 		content: '';
				// 		position: absolute;
				// 		top: -5px;
				// 		left: 50%;
				// 		transform: translateX(-50%);
				// 		width: 0;
				// 		height: 0;
				// 		border-style: solid;
				// 		border-width: 0 7px 6px 7px;
				// 		border-color: transparent transparent #002144 transparent;
				// 		display: inline-block;
				// 	}
				// 	 p {
				// 		 font-family: Ubuntu;
				// 		 font-size: 14px;
				// 		 line-height: 1.43;
				// 		 color: $white;
				// 		 letter-spacing: normal;
				// 		 display: inline-block;
				// 		 text-align: left;
				// 	 }
				// }
			}
		}
		&-name, &-views, &-visits, &-profit {
			display: flex;
			align-items: center;
			span {
				font-family: Ubuntu;
				font-size: 15px;
				color: $black;
				letter-spacing: normal;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		&-status {
			display: flex;
			align-items: center;
			span {
				font-family: Ubuntu;
				font-size: 15px;
				color: $black;
				letter-spacing: normal;
			}
		}
		&-actions {
			display: flex;
			align-items: center;
			padding-top: 4px;
			flex-grow: 1;
			z-index: 5;
			ul {
				display: flex;
				list-style-type: none;
				padding: 0;
				margin: 0;
				justify-content: flex-end;
				width: 100%;
				li {
					&:not(:last-child) {
						margin-right: 13px;
					}
					&:hover {
						svg {
							color: $blue;
						}
					}
					a {
						svg {
							color:  #879093;
							opacity: 1;
							font-size: 22px;
							transition: all 0.3s ease;
						}
					}
				}
				li.new-add-block {
					a {
						position: relative;
						svg {
							&:last-child {
								background-color: #fff;
								position: absolute;
								right: -3px;
								bottom: -3px;
								font-size: 12px;
							}
						}
					}
				}
				li.blue-svg {
					a {
						svg {
							color: $blue;
						}
					}
				}
			}
		}
		&-no-block {
			transition: all 0.3s ease;
			background-color: #ffffff;
			display: none;
			&-inner {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 25px 299px;

				h3 {
					font-family: ubuntu;
					font-size: 26px;
					font-weight: bold;
					color: $black;
					letter-spacing: normal;
					margin: 0;
				}
				span {
					font-family: ubuntu;
					font-size: 18px;
					font-weight: normal;
					color: $black;
					line-height: 1.5;
					letter-spacing: normal;
					padding-top: 17px;
					text-align: center;
				}
				.btn-block {
					display: flex;
					justify-content: center;
					padding-top: 20px;
					button {
						font-family: Ubuntu;
						font-size: 15px;
						color: #2c383a;
						font-weight: 500;
						padding: 13px 20px;
						letter-spacing: normal;
						border-radius: 4px;
						border: solid 2px rgba(153, 163, 167, 0.25);
						cursor: pointer;
						transition: all 0.3s ease;
						&:hover {
							border: solid 2px #1595fc;
						}
					}
				}
			}
		}
		&-all-blocks {
			height: 0;
			overflow: hidden;
			.c-table__item {
				border: 1px solid #f5f8fc;

			}
			.c-table__item-name {
				display: flex;
				.item-name__label {
					display: flex;
					flex-direction: column;
					b {
						font-family: Ubuntu;
						font-size: 14px;
						font-weight: 500;
						color: $black;
					}
					span {
						font-family: Ubuntu;
						font-size: 13px;
						letter-spacing: normal;
						color: #879093;
					}
				}
				.remove-block {
					position: relative;
					height: 100%;
					width: 10px;
					cursor: pointer;
					&:before {
						content: '';
						position: absolute;
						top: 9px;
						left: -4px;
						background-color: #A6ADAF;
						height: 2px;
						width: 13px;
					}
				}
			}
		}
	}
	&__activity {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;
		.select-block {
			width: 229px;
	}
	&-btns {
		margin-left: auto;
	}
	}
	&__item-open-btn {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		padding: 15px;
		.new-block, .all-blocks {
			display: inline-block;
			font-family: Ubuntu;
			font-size: 15px;
			font-weight: 500;
			line-height: 46px;
			letter-spacing: normal;
			text-align: center;
			color: #2c383a;
			height: 50px;
			width: 216px;
			border-radius: 4px;
			border: solid 2px rgba(153, 163, 167, 0.25);
			transition: all 0.3s ease;
			&:hover {
				border: solid 2px $blue;
			}
		}
	}
}

.c-table__item-all-blocks {
	.c-table__item {
		box-shadow: none !important;
		z-index: 0 !important;
		padding: 10px 18px 10px 24px;
		&:after {
			display: none !important;
		}
		.item-name__label {
			padding-left: 9px;
			span {
				padding-top: 2px;
			}
		}
		.c-table__item-name {
			width: 283px;
	}
	}
}